@charset "UTF-8";
/* 스크롤 기본 막아놓기 */
body.hidden {
  height: 100vh;
  overflow: hidden;
}

.main-ban-area #culture .mb-box {
  width: 100%;
  height: 300vh;
}
.main-ban-area #culture .mb-box .back-img {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  transform-origin: center;
}
.main-ban-area #culture .mb-box .back-img .back-img2 {
  width: 100vw;
  height: 100vh;
  transition: 1s;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
}
.main-ban-area #culture .mb-box .back-img .back-img2.on {
  opacity: 1;
}
.main-ban-area #culture .mb-box .wrap {
  position: sticky;
  top: 0;
}

.mb-tit {
  letter-spacing: -0.1em;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  font-weight: bold;
  filter: invert(1);
  mix-blend-mode: difference;
}
.mb-tit .craft-tit1,
.mb-tit .craft-tit2 {
  position: relative;
  top: 5%;
  transition: 0.7s;
  opacity: 0;
  font-weight: bold;
  transform: translateY(100%);
}
.mb-tit .craft-tit1.on1,
.mb-tit .craft-tit2.on1 {
  opacity: 1;
  transform: translateY(0%);
}
.mb-tit .craft-tit1 {
  margin-bottom: 4vh;
  font-size: 5vw;
}
.mb-tit .craft-tit2 {
  font-size: 2.5vw;
}

.cat-info-box {
  position: absolute;
  z-index: 10;
  padding: 10% 0 2%;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  transition: 1s;
  opacity: 0;
}
.cat-info-box.on2 {
  opacity: 1;
  top: 0%;
}
.cat-info-box .box1 {
  position: relative;
  height: 100%;
  width: 50%;
}
.cat-info-box .box1 ul {
  position: relative;
  width: 100%;
  height: 100%;
}
.cat-info-box .box1 .box1-img {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  width: clamp(200px, 50vw, 600px);
  aspect-ratio: 1.5/1;
}
.cat-info-box .box1 .box1-img.on1 {
  opacity: 1;
}
.cat-info-box .box1 .box1-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.cat-info-box .box2 {
  position: relative;
  height: 100%;
  flex: 1;
}
.cat-info-box .box2 .p-text-box {
  position: relative;
  width: 80%;
  height: 40%;
  margin-bottom: 5vw;
}
.cat-info-box .box2 .p-text-box .p-text {
  position: absolute;
  font-size: clamp(20px, 3vw, 50px);
  font-weight: bold;
  text-shadow: 0 0 10px #000;
  color: #fff;
  top: 55%;
  transition: 0.5s;
  opacity: 0;
}
.cat-info-box .box2 .p-text-box .p-text.on1 {
  transition-delay: opacity 0.5s;
  top: 50%;
  opacity: 1;
}
.cat-info-box .box2 .p-text-box .p-text.on2 {
  transition-delay: opacity 0.5s;
  top: 45%;
  opacity: 0;
}

.p-flex-box1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-flex-box2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.go-box {
  top: 0;
  position: absolute;
  height: 100%;
  z-index: 11;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.go-box .p-button {
  display: flex;
  position: absolute;
  bottom: 10%;
  background-color: #fff;
  padding: clamp(10px, 1vw, 20px);
  transition: 0.3s ease;
}
.go-box .p-button span {
  white-space: nowrap;
  font-size: clamp(12px, 2vw, 24px);
  letter-spacing: -0.05em;
  font-weight: bold;
}
.go-box .p-button:hover {
  background-color: #282828;
}
.go-box .p-button:hover span {
  color: #fff;
}/*# sourceMappingURL=main_page_bottom.css.map */