.main-page-top {
  position: relative;
  width: 100%;
  height: 100%;
  .top-video {
    position: relative;
    .big-wrap-box {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      .big-box {
        position: sticky;
        .big-video {
          position: relative;
          cursor: pointer;
          width: 105%; // 동영상 사이즈 조정하기
          height: auto;
          object-fit: cover;
          left: 50%;
          transform: translateX(-50%);
        }

      }
    }
    .small-wrap-box {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      .small-box {
        width: 100%;
        position: sticky;
        top: 50%; // 나중에 미디어 쿼리 할때 조절
        left: 50%;
        translate: -50% -50%;
        width: 20%;
        aspect-ratio: 2;
        height: auto;
        overflow: hidden;

        .small-video {
          position: relative;
          top: 50%;
          left: 50%;
          translate: -50% -40%; // 조정하기
          width: 525%; // 조정하기
          height: auto;
          filter: blur(10px);
        }
        .logo-box {
          box-sizing: border-box;
          padding: clamp(5px, 1vw, 20px);
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          width: 100%;

          img {
            width: 100%;
            color: auto;
            filter: invert(1);
            mix-blend-mode: difference;
          }
        }
      }
    }
  }
}
////////////////// 서브타이틀 영역 //////////////////////

// 상단에서 내려옴
@keyframes ani1 {
  to {
    translate: 0 0;
    transform: rotateX(0deg) rotate(0deg);
  }
}
// 원래상태로 돌아옴
@keyframes ani2 {
  to {
    transform: rotateY(0deg);
  }
}
// 회전상태로 돌아옴
@keyframes ani3 {
  to {
    transform: rotateY(20deg);
  }
}

// https://vanholtz.co/
// will-change: transform;

// 3d 부모설정 ****** 중요
// perspective: 30vh;
// perspective-origin: right;

// 자식설정 : 실제3d적용됨
//   transform-style: preserve-3d; -> z축과 관련
// transform: rotateY(0deg) ; 이걸로 조절해줌

.go-tit-box {
  z-index: 99;
  position: absolute;
  top: 10%;
  translate: 0 -100%;
  right: 3%;
  height: 100%;
  padding: 0 0 10%;
  box-sizing: border-box;

  .go-tit {
    position: sticky;
    top: 0;
    display: flex;
    gap: clamp(10px, 3vw, 50px);
    flex-direction: column;
    .tit-box {
      margin-bottom: clamp(10px, 1.3vw, 18px);
      user-select: none;
      // -webkit-user-drag: none;
      position: relative;
      &:hover {
        transform: rotateY(0deg);
        .tit1 {
        }
        .tit2 {
          opacity: 1;
        }
      }
      .tit1 {
        ///////

        //////
        cursor: pointer;
        // text-shadow: 0 0 2px #484848;
        text-align: right;
        font-size: clamp(30px, 4vw, 60px);
        font-weight: bold;
        // margin-bottom: clamp(10px, 1.3vw, 18px);
      }
    }
  }
}

// 3d 설정파트
.go-tit-box {
  // 상단에서 내려옴
  animation: ani1 1.2s cubic-bezier(0, 0.55, 0.45, 1) 1s forwards;
  // transition: 1s cubic-bezier(0.33, 1, 0.68, 1);
  transform: rotateX(120deg) rotate(60deg);
  // 3d 부모설정
  perspective: 80vh;
  perspective-origin: right;
  ///////////////////////
  .go-tit {
    // 자식설정 /////////////
    transform: rotateY(-10deg);
    // 3d 부모설정 //////////////
    perspective: 80vh;
    perspective-origin: right;
    .tit-box {
      transition: 0.3s;
      // 3d 부모설정 //////////////
      perspective: 80vh;
      perspective-origin: right;
      // 자식설정 /////////////
      transform: rotateY(-25deg);
      transform-origin: right;
      &:hover {
        transform: rotateY(-5deg);
      }
      @for $i from 1 to 6 {
        // .tit-box 아래 자식들 .tit1 의 애니효과 지연
        &:nth-child(#{6-$i}) .tit1 {
          animation-delay: #{1 + 0.15 * $i}s;
          //animation-delay: 1.15 ,1.3 ,1.45 ,1.6 ......
          // 
        }
      }
      .tit1 {
        transition: 0.3s;
        animation: ani2 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
        transform: rotateY(-90deg);
        transform-origin: right;
      }
    }
  }
}
////////////////////////////
@keyframes wave {
  0% {
    transform: translate(-1%, 4%) scale(1);
    opacity: 0.8;
  }
  20% {
    transform: translate(-2%, 8%) scale(1.03);
    opacity: 0.6;
  }
  40% {
    transform: translate(-3%, 12%) scale(1.06);
    opacity: 0.4;
  }
  60% {
    transform: translate(-4%, 16%) scale(1.09);
    opacity: 0.2;
  }
  80% {
    transform: translate(-5%, 20%) scale(1.12);
    opacity: 0.2;
  }
  100% {
    transform: translate(-5%, 20%) scale(1.12);
    opacity: 0;
  }
}
.go-tit-box {
  .go-tit {
    .tit-box {
      position: relative;
      &:hover .tit1 {
        text-shadow: 0 0 4px #000000;
        // filter: invert(1) drop-shadow(0 0 8px #ffffff76);
        filter: invert(1);
      }
      .tit1 {
        text-shadow: 0 0 4px #2a2a2aaf;
      }
      .wavw1 {
        opacity: 0;
        // scale: 2;
        // position: absolute;
      }
      &:hover .wavw1 {
        // transform-origin: left;
        animation: wave .5s ease-in-out; // 애니메이션 추가
      }
      .wavw2 {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
      }
    }
  }
}

.play-top-vid {
  position: absolute;
  z-index: 100;
  top: calc(100% - 2vw - clamp(30px, 5vw, 50px));
  left: 2%;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  li {
    padding: 10px;
    width: clamp(30px, 3vw, 50px);
    aspect-ratio: 1/1;
    position: relative;
    .play-icon {
      position: absolute;
      font-size: clamp(30px, 3vw, 40px);
      &:hover {
        filter: invert(1) drop-shadow(0 0 4px #fff);
      }
    }
  }
}
// transform: rotateY(-5deg);

///////////////////////////////////
// blur()mix-blend-mode: 요소를 흐리게 만듭니다.
// 예시: filter: blur(5px);
// brightness(): 이미지의 밝기를 조절합니다.
// 예시: filter: brightness(0.5);
// contrast(): 이미지의 대비를 조절합니다.
// 예시: filter: contrast(1.5);
// drop-shadow(): 요소에 그림자 효과를 추가합니다.
// 예시: filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
// grayscale(): 이미지를 회색조로 변환합니다.
// 예시: filter: grayscale(0.7);
// hue-rotate(): 이미지의 색조를 회전시킵니다.
// 예시: filter: hue-rotate(90deg);
// invert(): 이미지의 색상을 반전시킵니다.
// 예시: filter: invert(1);
// opacity(): 요소의 불투명도를 조절합니다.
// 예시: filter: opacity(0.5);
// saturate(): 이미지의 채도를 조절합니다.
// 예시: filter: saturate(1.5);
// sepia(): 이미지에 세피아 톤을 적용합니다.
// 예시: filter: sepia(0.5);

// normal: 기본값으로, 요소는 배경과 혼합되지 않고 단순히 위에 표시됩니다.
// 예시: mix-blend-mode: normal;
// multiply: 배경과 요소의 색상을 곱하여 더 어둡게 만듭니다.
// 예시: mix-blend-mode: multiply;
// screen: 배경과 요소의 색상을 반전한 후 곱하여 더 밝게 만듭니다.
// 예시: mix-blend-mode: screen;
// overlay: 배경과 요소의 색상을 곱하거나 더하여 대비를 높입니다.
// 예시: mix-blend-mode: overlay;
// darken: 배경과 요소의 색상 중 더 어두운 색상을 선택합니다.
// 예시: mix-blend-mode: darken;
// lighten: 배경과 요소의 색상 중 더 밝은 색상을 선택합니다.
// 예시: mix-blend-mode: lighten;
// color-dodge: 배경색을 밝히고 요소의 색상을 유지합니다.
// 예시: mix-blend-mode: color-dodge;
// color-burn: 배경색을 어둡게 하고 요소의 색상을 유지합니다.
// 예시: mix-blend-mode: color-burn;
// hard-light: 요소의 색상을 곱하거나 스크린하여 배경을 강조합니다.
// 예시: mix-blend-mode: hard-light;
// soft-light: 요소의 색상을 어둡게 하거나 밝게 하여 배경을 부드럽게 강조합니다.
// 예시: mix-blend-mode: soft-light;
// difference: 배경과 요소의 색상을 빼서 차이를 강조합니다.
// 예시: mix-blend-mode: difference;
// exclusion: 배경과 요소의 색상을 빼서 차이를 덜 강조합니다.
// 예시: mix-blend-mode: exclusion;
// hue: 배경의 채도와 명도를 유지하고 요소의 색조를 적용합니다.
// 예시: mix-blend-mode: hue;
// saturation: 배경의 색조와 명도를 유지하고 요소의 채도를 적용합니다.
// 예시: mix-blend-mode: saturation;
// color: 배경의 명도를 유지하고 요소의 색조와 채도를 적용합니다.
// 예시: mix-blend-mode: color;
// luminosity: 배경의 색조와 채도를 유지하고 요소의 명도를 적용합니다.
// 예시: mix-blend-mode: luminosity;

@media screen and (max-width: 1500px) {
  .main-page-top {
    .top-video {
      .big-wrap-box {
        .big-box {
          .big-video {
          }
        }
      }
      .small-wrap-box {
        .small-box {
          top: 45%;
          .small-video {
          }
          .logo-box {
            img {
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1400px) {
  .main-page-top {
    .top-video {
      .big-wrap-box {
        .big-box {
          .big-video {
          }
        }
      }
      .small-wrap-box {
        .small-box {
          top: 40%;
          .small-video {
          }
          .logo-box {
            img {
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1250px) {
  .main-page-top {
    .top-video {
      .big-wrap-box {
        .big-box {
          .big-video {
          }
        }
      }
      .small-wrap-box {
        .small-box {
          top: 35%;
          .small-video {
          }
          .logo-box {
            img {
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .main-page-top {
    .top-video {
      .big-wrap-box {
        .big-box {
          .big-video {
          }
        }
      }
      .small-wrap-box {
        .small-box {
          top: 30%;
          .small-video {
          }
          .logo-box {
            img {
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .main-page-top {
    .top-video {
      .big-wrap-box {
        .big-box {
          .big-video {
          }
        }
      }
      .small-wrap-box {
        .small-box {
          top: 25%;
          .small-video {
          }
          .logo-box {
            img {
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .main-page-top {
    .top-video {
      .big-wrap-box {
        .big-box {
          .big-video {
            width: 120%; // 동영상 사이즈 조정하기
          }
        }
      }
      .small-wrap-box {
        .small-box {
          .small-video {
            width: 600%; // 조정하기
          }
          .logo-box {
            img {
            }
          }
        }
      }
    }
  }
  .go-tit-box {
    display: none;
  }
  .play-top-vid {
    top: 85%;
    gap: 20px;
    li {
      .play-icon {
        &:hover {
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .main-page-top {
    .top-video {
      .big-wrap-box {
        .big-box {
          .big-video {
            width: 130%; // 조정하기
          }
        }
      }
      .small-wrap-box {
        .small-box {
          // top: 20%;
          .small-video {
            width: 650%;
          }
          .logo-box {
            img {
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .main-page-top {
    .top-video {
      .big-wrap-box {
        .big-box {
          .big-video {
            width: 140%; // 조정하기
          }
        }
      }
      .small-wrap-box {
        .small-box {
          // top: 17%;
          .small-video {
            width: 7000%; // 조정하기
          }
          .logo-box {
            img {
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .main-page-top {
    .top-video {
      .big-wrap-box {
        .big-box {
          .big-video {
            width: 145%; // 조정하기
          }
        }
      }
      .small-wrap-box {
        display: none;
        .small-box {
          // top: 15%;
          .small-video {
            // width: 725%; // 조정하기
          }
          .logo-box {
            img {
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .main-page-top {
    .top-video {
      .big-wrap-box {
        .big-box {
          .big-video {
            width: 145%; // 조정하기
          }
        }
      }
      .small-wrap-box {
        display: none;
        .small-box {
          // top: 15%;
          .small-video {
            // width: 725%; // 조정하기
          }
          .logo-box {
            img {
            }
          }
        }
      }
    }
  }
  .play-top-vid {
    display: none;
    li {
      .play-icon {
        &:hover {
        }
      }
    }
  }
}
