body{
  // transition: .5s;
}

#recommended {
  // 넘치기 숨기자
  // overflow-x: hidden;
  margin: 0 auto;
  // margin: 0 auto;
  max-width: 80vw;
  // max-width: 1980px;
  padding-top: clamp(50px, 20vh, 100px);
  padding-bottom: clamp(50px, 20vh, 100px);
  box-sizing: border-box;
  h1 {
    letter-spacing: +0.03em;
    margin-bottom: clamp(50px, 4vh, 100px);
    font-size: clamp(40px, 4vw, 200px);
    color: #484848;
    font-weight: bold;
  
    // padding-left: clamp(50px, 5vw, 100px);

  }
  .item-box {
    // margin: 0 auto;
    // padding-left: clamp(50px, 5vw, 100px);
  //  max-width: 80vw;
  }
}
@media screen and (max-width: 500px) {
  #recommended {
    max-width: 95vw;
  }
}