.main-page-top {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-page-top .top-video {
  position: relative;
}
.main-page-top .top-video .big-wrap-box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main-page-top .top-video .big-wrap-box .big-box {
  position: sticky;
}
.main-page-top .top-video .big-wrap-box .big-box .big-video {
  position: relative;
  cursor: pointer;
  width: 105%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  left: 50%;
  transform: translateX(-50%);
}
.main-page-top .top-video .small-wrap-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.main-page-top .top-video .small-wrap-box .small-box {
  width: 100%;
  position: sticky;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 20%;
  aspect-ratio: 2;
  height: auto;
  overflow: hidden;
}
.main-page-top .top-video .small-wrap-box .small-box .small-video {
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -40%;
  width: 525%;
  height: auto;
  filter: blur(10px);
}
.main-page-top .top-video .small-wrap-box .small-box .logo-box {
  box-sizing: border-box;
  padding: clamp(5px, 1vw, 20px);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}
.main-page-top .top-video .small-wrap-box .small-box .logo-box img {
  width: 100%;
  color: auto;
  filter: invert(1);
  mix-blend-mode: difference;
}

@keyframes ani1 {
  to {
    translate: 0 0;
    transform: rotateX(0deg) rotate(0deg);
  }
}
@keyframes ani2 {
  to {
    transform: rotateY(0deg);
  }
}
@keyframes ani3 {
  to {
    transform: rotateY(20deg);
  }
}
.go-tit-box {
  z-index: 99;
  position: absolute;
  top: 10%;
  translate: 0 -100%;
  right: 3%;
  height: 100%;
  padding: 0 0 10%;
  box-sizing: border-box;
}
.go-tit-box .go-tit {
  position: sticky;
  top: 0;
  display: flex;
  gap: clamp(10px, 3vw, 50px);
  flex-direction: column;
}
.go-tit-box .go-tit .tit-box {
  margin-bottom: clamp(10px, 1.3vw, 18px);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
}
.go-tit-box .go-tit .tit-box:hover {
  transform: rotateY(0deg);
}
.go-tit-box .go-tit .tit-box:hover .tit2 {
  opacity: 1;
}
.go-tit-box .go-tit .tit-box .tit1 {
  cursor: pointer;
  text-align: right;
  font-size: clamp(30px, 4vw, 60px);
  font-weight: bold;
}

.go-tit-box {
  animation: ani1 1.2s cubic-bezier(0, 0.55, 0.45, 1) 1s forwards;
  transform: rotateX(120deg) rotate(60deg);
  perspective: 80vh;
  perspective-origin: right;
}
.go-tit-box .go-tit {
  transform: rotateY(-10deg);
  perspective: 80vh;
  perspective-origin: right;
}
.go-tit-box .go-tit .tit-box {
  transition: 0.3s;
  perspective: 80vh;
  perspective-origin: right;
  transform: rotateY(-25deg);
  transform-origin: right;
}
.go-tit-box .go-tit .tit-box:hover {
  transform: rotateY(-5deg);
}
.go-tit-box .go-tit .tit-box:nth-child(5) .tit1 {
  animation-delay: 1.15s;
}
.go-tit-box .go-tit .tit-box:nth-child(4) .tit1 {
  animation-delay: 1.3s;
}
.go-tit-box .go-tit .tit-box:nth-child(3) .tit1 {
  animation-delay: 1.45s;
}
.go-tit-box .go-tit .tit-box:nth-child(2) .tit1 {
  animation-delay: 1.6s;
}
.go-tit-box .go-tit .tit-box:nth-child(1) .tit1 {
  animation-delay: 1.75s;
}
.go-tit-box .go-tit .tit-box .tit1 {
  transition: 0.3s;
  animation: ani2 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  transform: rotateY(-90deg);
  transform-origin: right;
}

@keyframes wave {
  0% {
    transform: translate(-1%, 4%) scale(1);
    opacity: 0.8;
  }
  20% {
    transform: translate(-2%, 8%) scale(1.03);
    opacity: 0.6;
  }
  40% {
    transform: translate(-3%, 12%) scale(1.06);
    opacity: 0.4;
  }
  60% {
    transform: translate(-4%, 16%) scale(1.09);
    opacity: 0.2;
  }
  80% {
    transform: translate(-5%, 20%) scale(1.12);
    opacity: 0.2;
  }
  100% {
    transform: translate(-5%, 20%) scale(1.12);
    opacity: 0;
  }
}
.go-tit-box .go-tit .tit-box {
  position: relative;
}
.go-tit-box .go-tit .tit-box:hover .tit1 {
  text-shadow: 0 0 4px #000000;
  filter: invert(1);
}
.go-tit-box .go-tit .tit-box .tit1 {
  text-shadow: 0 0 4px rgba(42, 42, 42, 0.6862745098);
}
.go-tit-box .go-tit .tit-box .wavw1 {
  opacity: 0;
}
.go-tit-box .go-tit .tit-box:hover .wavw1 {
  animation: wave 0.5s ease-in-out;
}
.go-tit-box .go-tit .tit-box .wavw2 {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
}

.play-top-vid {
  position: absolute;
  z-index: 100;
  top: calc(100% - 2vw - clamp(30px, 5vw, 50px));
  left: 2%;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}
.play-top-vid li {
  padding: 10px;
  width: clamp(30px, 3vw, 50px);
  aspect-ratio: 1/1;
  position: relative;
}
.play-top-vid li .play-icon {
  position: absolute;
  font-size: clamp(30px, 3vw, 40px);
}
.play-top-vid li .play-icon:hover {
  filter: invert(1) drop-shadow(0 0 4px #fff);
}

@media screen and (max-width: 1500px) {
  .main-page-top .top-video .small-wrap-box .small-box {
    top: 45%;
  }
}
@media screen and (max-width: 1400px) {
  .main-page-top .top-video .small-wrap-box .small-box {
    top: 40%;
  }
}
@media screen and (max-width: 1250px) {
  .main-page-top .top-video .small-wrap-box .small-box {
    top: 35%;
  }
}
@media screen and (max-width: 1000px) {
  .main-page-top .top-video .small-wrap-box .small-box {
    top: 30%;
  }
}
@media screen and (max-width: 850px) {
  .main-page-top .top-video .small-wrap-box .small-box {
    top: 25%;
  }
}
@media screen and (max-width: 768px) {
  .main-page-top .top-video .big-wrap-box .big-box .big-video {
    width: 120%;
  }
  .main-page-top .top-video .small-wrap-box .small-box .small-video {
    width: 600%;
  }
  .go-tit-box {
    display: none;
  }
  .play-top-vid {
    top: 85%;
    gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .main-page-top .top-video .big-wrap-box .big-box .big-video {
    width: 130%;
  }
  .main-page-top .top-video .small-wrap-box .small-box .small-video {
    width: 650%;
  }
}
@media screen and (max-width: 550px) {
  .main-page-top .top-video .big-wrap-box .big-box .big-video {
    width: 140%;
  }
  .main-page-top .top-video .small-wrap-box .small-box .small-video {
    width: 7000%;
  }
}
@media screen and (max-width: 500px) {
  .main-page-top .top-video .big-wrap-box .big-box .big-video {
    width: 145%;
  }
  .main-page-top .top-video .small-wrap-box {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .main-page-top .top-video .big-wrap-box .big-box .big-video {
    width: 145%;
  }
  .main-page-top .top-video .small-wrap-box {
    display: none;
  }
  .play-top-vid {
    top: 80%;
  }
}/*# sourceMappingURL=main_page_top.css.map */