/* 스크롤 기본 막아놓기 */
body.hidden {
  height: 100vh;
  overflow: hidden;
}
.main-ban-area {
  #culture {
    .mb-box {
      width: 100%;
      height: 300vh;
      .back-img {
        position: relative;
        width: 100vw;
        height: 100vh;
        top: 0;
        transform-origin: center;
        .back-img2 {
          width: 100vw;
          height: 100vh;
          transition: 1s;
          object-fit: cover;
          opacity: 0;
          &.on {
            opacity: 1;
          }
        }
      }
      .wrap {
        position: sticky;
        top: 0;
      }
    }
  }
}

.mb-tit {
  letter-spacing: -0.1em;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  font-weight: bold;
  // 나오기 애니
  filter: invert(1);
  mix-blend-mode: difference;
  .craft-tit1,
  .craft-tit2 {
    position: relative;
    top: 5%;
    transition: 0.7s;
    opacity: 0;
    font-weight: bold;
    transform: translateY(100%);
    &.on1 {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  .craft-tit1 {
    margin-bottom: 4vh;
    font-size: 5vw;
  }
  .craft-tit2 {
    font-size: 2.5vw;
  }
}
.cat-info-box {
  position: absolute;
  z-index: 10;
  padding: 10% 3% 2%;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
  // 나오기 애니 설정
  top: 20%;
  transition: 1s;
  opacity: 0;
  &.on2 {
    opacity: 1;
    top: 0%;
  }
  .box1 {
    position: relative;
    height: 100%;
    width: 50%;
    ul{
      position: relative;
      width: 100%;
      height: 100%;
 
    }
    .box1-img {
      transition: .5s ease;
      opacity: 0;
      &.on1 {
        opacity: 1;
      }
      position: absolute;
      width: clamp(200px, 50vw, 600px);
      aspect-ratio: 1.5 /1;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  ////////////////////////////////
  .box2 {
    position: relative;
    height: 100%;
    flex: 1;
    .p-text-box{
      position: relative;
      width: 80%;
      height: 40%;
      margin-bottom: 5vw;
      .p-text {
        position: absolute;
        font-size: clamp(20px, 3vw , 50px);
        font-weight: bold;
        text-shadow: 0 0 10px #000;
        color: #fff;
        //////////////////////////////////
        top: 55%;
        transition: 0.5s;
        opacity: 0;
        &.on1 {
          transition-delay: opacity 0.5s;
          top: 50%;
          opacity: 1;
        }
        &.on2 {
          transition-delay: opacity 0.5s;
          top: 45%;
          opacity: 0;
        }
      }
    }
  }
}

.p-flex-box1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-flex-box2{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.go-box{
  top: 0;
  position: absolute;
  height: 100%;
  z-index: 11;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  .p-button{
    display: flex;
    position: absolute;
    bottom: 10%;
    background-color: #fff;
    padding: 1vw;
    transition: .3s ease;
    span{
      font-size: 1vw;
      letter-spacing: -0.05em;
      font-weight: bold;
    }
    &:hover{
      span{
        color: #fff;
      }
      background-color: #282828;
    }
  }
}
