$font-12 : 12px;
$font-16 : 16px;
.rec-buy-now-box {
  margin: 0 auto;
  width: 80%;
  padding-bottom: clamp(100px, 40vh, 200px);
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  .rec-100-1{
    padding: 0 $font-12;
    height: 40vw;
    margin-bottom: $font-12*2;
    .box-pad {
      // background: url(../../../../public/images/main_ban_middle/1.webp) no-repeat
      // center / cover;
      h1 {
        letter-spacing: +0.05em;
        font-size: clamp(30px,5vw,65px);
        line-height: 1.3;
        font-weight: bold;
      }
    }
  }
  .rec-100:nth-child(2){
    display: flex;
  }
  .rec-100-2 {
    height: 40vw;
    h1 {
      letter-spacing: +0.05em;
      font-size: clamp(20px,3vw,50px);
      line-height: 1.3;
      font-weight: bold;
    }
    .rec-50-1 {
      padding: 0 $font-12;
      width: 50%;
      .box-pad {
        // background: url(../../../../public/images/main_ban_middle/2.webp) no-repeat
        // center / cover;
      }
    }
    .rec-50-2 {
      flex: 1;
      padding: 0 $font-12;
      .box-pad {
        // background: url(../../../../public/images/main_ban_middle/3.webp) no-repeat
        // center / cover;
      }
    }
  }
}

.box-pad {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: clamp(12px , 3vw , 48px);
  box-sizing: border-box;
  color: #fff;
  justify-content: flex-end;
  h3 {
    margin-top:clamp(12px , 3vw , 24px);
    font-size:clamp(16px , 1.5vw , 48px);
  }
  a {
    padding: clamp(10px , 1vw , 20px);
    margin-top: clamp(24px , 2vw , 48px);
    width: $font-12*10;
    background-color: #fff;
    color: #131317;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
    span {
      font-size: $font-16;
      vertical-align: middle;
      font-weight: bold;
    }
    &:hover{
      color: #fff;
      background-color:#131317;
    }
  }
}
