.shop-item{
  padding-top: 20px;
  padding-bottom: 40px;
  box-sizing: border-box;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin: 0 auto;
}
.cont-common{
  color: #fff;
  padding: clamp(10px, 3vw, 30px) !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: auto !important;
}
.cont-0{
  grid-column: span 2;
  aspect-ratio: 2/1.5;
  h1{
    font-size: clamp(36px, 5vw, 72px);
  }
  h3{
    margin-top: clamp(16px, 2vw, 24px);
    font-size: clamp(16px, 2vw, 24px);
    margin-bottom: clamp(16px, 2vw, 24px);
  }
}
.item-cat-cont {
  &:last-child{
   h1{
    font-size: clamp(24px, 5vw, 48px);
   }
   h3{
    margin-top: clamp(16px, 2vw, 24px);
    font-size: clamp(16px, 2vw, 24px);
    margin-bottom: clamp(16px, 2vw, 24px);
   }
  }
    -webkit-user-drag: none;
      position: relative;
      z-index: 0;
      &:hover {
        z-index: 1;
        background-color: #fff;
        box-shadow: 0 20px 45px -10px rgba(0, 0, 0, 0.15);
      }
      transition: 0.3s;
      cursor: pointer;
      // flex: 1;
      background-color: #f8f8f8;
      padding: clamp(10px, 1vw, 30px);
      aspect-ratio: 1/1.5;
      box-sizing: border-box;
      .item-p-box {
      ///////////////////////
        user-select: none;
        /////////////////////////
        position: relative;
        height: 100%;
        .wish {
          position: absolute;
          right: 0;
          color: #aaa;
          &:hover {
            color: red;
          }
          &.add-pick {
            color: red;
          }
        }
        .item-p-img {
          // max-width: 400px;
          // width: 100%;
          // min-width: 200px;
          width: clamp(50px, 100%, 400px);
          aspect-ratio: 1/1;
          // -webkit-user-drag: none;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            // -webkit-user-drag: none;
          }
        }
        .item-p-info {
          position: absolute;
          bottom: 0;
          .item-p-name {
            line-height: 1.5;
            letter-spacing: -0.05em;
            margin-bottom: clamp(10px, 1vw, 20px);
            font-size: clamp(10px, 1vw, 20px);
          }
          .item-p-price {
            margin-bottom: clamp(10px, 1vw, 20px);
            font-size: clamp(10px, 1vw, 20px);
          }
          .item-p-color-box {
            display: flex;
            gap: 5px; /* 색상 원 사이의 간격 */
            margin-top: 10px; /* 색상 박스의 상단 여백 */
            .color-circle-wrap {
              cursor: pointer;
              border-radius: 50%;
              background-color: #fff;
              &.on {
                border: 1px solid #aaa;
              }
              .color-circle {
                margin: 3px;
                width: 1.5vw;
                min-width: 18px;
                max-width: 30px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                border: 1px solid #ccc;
                transition: 0.2s;
                &:hover {
                  scale: 1.3;
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 1280px) {
      .shop-item{
        grid-template-columns: repeat(4, 1fr);
      }
  }
    @media screen and (max-width: 1000px) {
      .shop-item{
        grid-template-columns: repeat(3, 1fr);
      }
  }
    @media screen and (max-width: 768px) {
      .shop-item{
        grid-template-columns: repeat(2, 1fr);
      }
      .wish{
        svg{
          width: 20px;
          height: 20px;
          // fill: red;
        }
      }
  }
    @media screen and (max-width: 400px) {
      .shop-item{
        grid-template-columns: repeat(1, 1fr);
      }
      .wish{
        svg{
          width: 20px;
          height: 20px;
          // fill: red;
        }
      }
  }