@charset "utf-8";

/*예시) 영역별 큰제목 & 작은제목 & 설명글 공통*/
:root{
    --main:50px;
    --sub:30px;
    --text:20px;
}

.main-title{
    font-family: "Lugrasimo", cursive;
    font-weight: bold;
    font-size: 60px;
}
.sub-text1{
    font-family: "Lugrasimo", cursive;
    font-size: 25px;
    line-height: 1.7;
}
.sub-text2{
    font-family: "Lugrasimo", cursive;
    font-size: 18px;
    line-height: 1.7;
}

/* 상단 영역바 CSS */

#top-area {
    width: 100%;
    z-index: 9999999;
  }


.top-menu{
    top: 20px;
    left: 20px;
}

.top-menu li {
    font-family: "Lobster", sans-serif;
    font-size: 20px;
    font-style: normal;
}

.toy02{
    top: 0;
    left: 135px;
}

.toy02 a{
    color: #7e7d7d;
}

.logobx-area{
    top: 10px;
    right: 20px;
}


.mlogo img{
    /* float: right; */
    height: 20%;
    width: 20%;
    box-sizing: border-box;
    background-color: #ffffff7a;
    padding: 10px 15px 5px;
}

/* 하단 영역 CSS */
#footer-area{
    position: relative;
}


.footer-bx{
    margin-top: 80px;
    bottom: 10px;
    text-align: center;
}

.sns-box ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0 15px;
    justify-content: center
}
.sns-box a{
    margin: 0 auto;
    font-size: 25px;
    line-height: 2.5;
    white-space: nowrap;
}

.fcont-part{
    font-size: 15px;
    line-height: 1.5;
    white-space: nowrap;
}

.corp-part{
    font-family: "Lugrasimo", cursive;
    font-style: normal;
    font-size: 20px;
    line-height: 2.8;
    text-align: center;
}
