@charset "utf-8";
@import url(./grid_12_flex.css);
/*예시) 영역별 큰제목 & 작은제목 & 설명글 공통*/
:root{
    --main:50px;
    --sub:30px;
    --text:20px;
}

.main-title{
    font-family: "Lugrasimo", cursive;
    font-weight: bold;
    font-size: 6rem;
}
.sub-text1{
    font-family: "Lugrasimo", cursive;
    font-size: 2.5rem;
    line-height: 1.7;
}
.sub-text2{
    font-family: "Lugrasimo", cursive;
    font-size: 1.8rem;
    line-height: 1.7;
}

/* 상단 영역바 CSS */

#top-area {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* 필요한경우 각자페이지에서 아래 세줄을 주시오*/
    position: fixed; 
    z-index: 9999999;
    /* background-color: #fff; */
  }
.top-menu{
    top: 20px;
    left: 20px;
}
.top-menu li {
    font-family: "Lobster", sans-serif;
    font-size: 20px;
    font-style: normal;
}
.toy02{
    top: 0;
    left: 135px;
}

.toy02 a{
    color: #7e7d7d;
}
.logobx-area{
    /* top: 10px;
    right: 20px; */
    /* 부모박스 자식박스 합쳐서 무의미함 */
}
.page-bx{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#GNB{
    top: -100px;
    position: relative;
    margin-right: 50px;
    transition: .3s;
}
#GNB ul{
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}
#GNB ul li:hover a{
    color: #ffe861;
}
#top-area:hover #GNB{
    top: 0;
}
#GNB ul li a{
    font-weight: bold;
    font-family: "Lugrasimo", cursive;
    font-size: 20px;
    transition: .3s;
}
.mlogo{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
.mlogo img{
    /* 필요한경우 각자페이지에서 주시오 */
    /* background-color: #ffffff7a; */
    padding: 10px 15px 5px;
    width: 100%;
    min-width: 150px;
    max-width: 300px;
    box-sizing: border-box;
}

/* 하단 영역 CSS */
#footer-area{
}
.footer-bx{
    margin-top: 80px;
    bottom: 10px;
    text-align: center;
}
.sns-box ul{
    display: flex;
    flex-wrap: nowrap;
    gap: 0 15px;
    justify-content: center
}
.sns-box a{
    font-size: 25px;
    line-height: 2.5;
}

.fcont-part{
    font-size: 15px;
    line-height: 1.5;
    white-space: nowrap;
}

.corp-part{
    font-family: "Lugrasimo", cursive;
    font-style: normal;
    font-size: 20px;
    line-height: 2.8;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    /* 예시 입니다. */
   
    .main-title{
        font-size: 4rem;
     }
     .sub-text1{
        font-size: 2rem;
    }
    .sub-text2{
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 400px) {
    /* 예시 입니다. */
    .main-title{
        font-size: 3rem;
     }
     .sub-text1{
        font-size: 1.5rem;
    }
    .sub-text2{
        font-size: 1.1rem;
    }
}
