@charset "utf-8";
/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Gugi&family=Nanum+Gothic&family=Single+Day&family=ZCOOL+KuaiLe&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Lugrasimo&family=Pacifico&display=swap');
/* 
    0. 메뉴 등 일반체
    font-family: 'Noto Sans KR', sans-serif;
    1. 캐릭터 설명 제목체
    font-family: 'Gugi', cursive;
    2. 캐릭터 설명 내용체
    font-family: 'Single Day', cursive;
    3. 캐릭터 설명 한자체
    font-family: 'ZCOOL KuaiLe', cursive;
    4. 전체 공통체(메뉴 등)
    font-family: 'Nanum Gothic', sans-serif;

1.Dancing Script : 디즈니 스러운 손글씨
    font-family: "Dancing Script", cursive;
2.Lugrasimo
  font-family: "Lugrasimo", cursive;
3. Pacifico
  font-family: "Pacifico", cursive;
4. Lobster 
  font-family: "Lobster", sans-serif;
*/



/* 전체 글자크기 */
html{
    font-size: 10px;
    /* rem단위 계산편의를 위함 */
}
