@charset "utf-8";

@import url(./reset.css);
@import url(./common.css);
@import url(./core.css);


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
  /* font-family: "Dancing Script", cursive; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Background image */
  .bg-image {
    background: url(../IMG/bg/bg2.jpg) no-repeat center/cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.8);
    transition: filter 0.3s ease-in-out;
  }
  
  /* Main content styles */
  .main {
    position: relative;
    z-index: 1; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Logo styles */
  .logo {
    display: flex;
    margin: 25px 0;
    flex-direction: column;
  }
  
  .logo img {
    width: 30vw; /* 로고 크기 조절 */
  }
  
  /* Sidebar styles */
  #GNB {
    position: absolute;
    z-index: 1;
    left: 2%;
    top: 50%; 
    transform: translateY(-50%);
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
  }
  
  .menu-list li {
    margin: 20% 0;
  }
  
  .menu-list li a {
    color: #fff;
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    font-weight: bold;
    transition: .3s;
  }
  .menu-list li:hover a{
    color: #ff3ec5;
  }

  .ts-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }

  