@charset "utf-8";

@import url(./reset.css);
@import url(./common.css);
@import url(./core.css);
@import url(./grid_12_flex.css);
html{  
  scroll-behavior: smooth;
}
body{
  overflow: hidden;
}
.ibx {
  max-width: 1920px;
  margin: 0 auto;
}

/* 공사중 표시 */
body * {
  outline: 2px dashed #ccc;
}
.main-tit2{
  padding-top: 60px;
 margin-bottom: 40px;
 color: #fff;
 text-align: center;
}
.main-tit{
  font-size: 60px;
  font-weight: bold;
}
.main-text {
  font-size: 30px;
  line-height: 1.7;
}
/* gnb */
#top-area{
  position: fixed;
  z-index: 100;
  width: 100%;
}

.gnb{
  position: absolute;
  right: 1%;
  top: 30vh;
}
.gnb ul li{
  margin: 5px 0 ;
  text-align: center;
  background-color: #0000003f;
  border-radius: 20px;
}
.gnb ul li.on a{
  color: yellow;
}
.gnb ul li a{
  padding: 0 10px;
  box-sizing: border-box;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}
#container {
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* 백그라운드 */
/* position: fixed; */
#logo-area {
  background: url(../IMG/img2/bg_sky.jpg) no-repeat
    center;
}
#summary-area{
  background: url(../IMG/img2/bg_summary.jpg) no-repeat
  center/cover;
}
#trailers-area{
  background: url(../IMG/img2/bg_TRAILERS.png) no-repeat
  center/cover;
}
#character-design-area{
  background: url(../IMG/img2/bg_CHARACTERDESIGN.jpg) no-repeat
  center/cover;
}
#world-design-area{
  background: url(../IMG/img2/bg_WORLDDESIGN.jpg) no-repeat
  center/cover;
}
#awards-area{
  background: url(../IMG/img2/bg_AWARDS.jpg) no-repeat
  center/cover;
}
#credits-area{
  background: url(../IMG/img2/bg_CREDITS.jpg) no-repeat
  center/cover;
}
#footer-area{
  background: url(../IMG/img2/bg_THANKS.jpg) no-repeat
  center/cover;
}



/*************** 상단영역 ***************/
.logo {
  position: relative;
  height: 100vh;
  aspect-ratio: 453/662;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
}
.logo a {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s ease-in-out;
}
.logo a:first-child:hover {
  transition: 0.3s ease-in-out;
  transform: translateY(-50%) rotateX(-10deg) rotateY(20deg) scale(1.1);
}
.logo a img {
  position: relative;
  width: 100%;
  height: 100%;
  top: 50%;
}
.logo a:last-child {
  top: -200%;
}
.logo a:last-child.show {
  top: 50%;
  transform: translateY(-50%);
}
/* --------------------- */
.sum-text {
  position: relative;
  margin: 0 auto;
  bottom: 0;
  height: 100vh;
  padding: 0 10%;
}
.sum-text p {
  position: relative;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #00000054;
  color: #fff;
  padding: 5% 10%;
  border-radius: 50px;
}
.sum-text a:first-child h1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 20px;
  border-radius: 20px;
}
.sum-text a:first-child{
  transition: .5s;
}
.sum-text a:last-child{
  position: relative;
  transition: .5s;
  opacity: 0;
  pointer-events: none;
}
.sum-text a:last-child.show{
  pointer-events: painted;
  transition: .5s;
  opacity: 1;
}
.sum-text a:first-child.show{
  pointer-events: none;
  transition: .5s;
  opacity: 0;
  
}
/******************* 2.트레일러 영역 *******************/
.trailers-area{
  height: 100vh;
  position: relative;
}
.character-design-area{
  height: 100vh;
  position: relative;
}
.world-design-area{
  height: 100vh;
  position: relative;
}
.awards-area{
  height: 100vh;
  position: relative;
}
.credits-area{
  height: 100vh;
  position: relative;
}
.content-box{
  height: 100%;
  width: 50vw;
  margin: 0 auto;
  overflow: auto;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  background-color: #00000073;
  /* padding: 50px 0; */
  box-sizing: border-box;
  text-align: center;
}
.credits-text p,.awards-text p{
  margin: 25px 0;
  line-height: 1.5;
}
.credits-text,.awards-text{
  /* overflow: hidden; */
}
strong{
  font-weight: bold;
}
.footer-area{
  height: 100vh;
  position: relative;
}
/* 스크롤바 디자인 클래스 */
/* -webkit - 벤터사명(크롬,사파리) 접두어 */
/* 클래스명 scbar */
.content-box::-webkit-scrollbar{
  /* 전체 스크롤바 크기변경 */
  width: 0;
}

