@charset "utf-8";

@import url(./reset.css);
@import url(./common.css);
@import url(./core.css);
@import url(./grid_12_flex.css);
/**************** 공통영역 ****************/
html{  
  scroll-behavior: smooth;
}
body{
  overflow: hidden;
}
/* 공사중 표시 */
body * {
  outline: 2px dashed #ccc;
}
/* **** */
strong{
  font-weight: bold;
}
/* 스크롤바 디자인 클래스 */
.content-box::-webkit-scrollbar{
  width: 0;
}
.ibx {
  max-width: 1920px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}
.flex-column{
  position: relative;
  display: flex;
  flex-direction: column;
}
.flex-row{
  position: relative;
  padding: 0 150px 0 30px;
  display: flex;
  flex-direction: row;
}
.main-tit2{
  padding-top: 60px;
 margin-bottom: 40px;
 color: #fff;
 text-align: center;
 width: 100%;
}
.main-tit{
  font-size: 60px;
  font-weight: bold;
}
.main-text {
  font-size: 20px;
  line-height: 1.5;
  white-space: wrap;
}
/**************** gnb 인딕 고정 박스 ****************/
#top-area{
  position: fixed;
  z-index: 100;
  width: 100%;
}

.gnb{
  position: absolute;
  right: 1%;
  top: 30vh;
}
.gnb ul li{
  margin: 5px 0 ;
  text-align: center;
  background-color: #0000003f;
  border-radius: 20px;
}
.gnb ul li.on a{
  color: yellow;
}
.gnb ul li a{
  padding: 0 10px;
  box-sizing: border-box;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

/********************* 백그라운드 영역 *********************/
#logo-area {
  background: url(../IMG/img2/bg_sky.jpg) no-repeat
    center/cover;
}
#summary-area{
  background: url(../IMG/img2/bg_summary.jpg) no-repeat
  center/cover;
}
#trailers-area{
  background: url(../IMG/img2/bg_TRAILERS.png) no-repeat
  center/cover;
}
#character-design-area{
  background: url(../IMG/img2/bg_CHARACTERDESIGN.jpg) no-repeat
  center/cover;
}
#world-design-area{
  background: url(../IMG/img2/bg_WORLDDESIGN.jpg) no-repeat
  center/cover;
}
#awards-area{
  background: url(../IMG/img2/bg_AWARDS.jpg) no-repeat
  center/cover;
}
#credits-area{
  background: url(../IMG/img2/bg_CREDITS.jpg) no-repeat
  center/cover;
}
#footer-area{
  background: url(../IMG/img2/bg_THANKS.jpg) no-repeat
  center/cover;
}



/*************** 상단 로고영역 ***************/
.logo {
  position: relative;
  height: 100%;
  aspect-ratio: 453/662;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
}
.logo a {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s ease-in-out;
}
.logo a:first-child:hover {
  transition: 0.3s ease-in-out;
  transform: translateY(-50%) rotateX(-10deg) rotateY(20deg) scale(1.1);
}
.logo a img {
  position: relative;
  width: 100%;
  height: 100%;
  top: 50%;
}
.logo a:last-child {
  top: -200%;
}
.logo a:last-child.show {
  top: 50%;
  transform: translateY(-50%);
}
/* --------------------- */
.sum-text {
  position: relative;
  margin: 0 auto;
  bottom: 0;
  height: 100vh;
  padding: 0 10%;
}
.sum-text p {
  position: relative;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #00000085;
  color: #fff;
  padding: 5% 10%;
  border-radius: 50px;
}
.sum-text a:first-child h1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 20px;
  border-radius: 20px;
}
.sum-text a:first-child{
  transition: .5s;
}
.sum-text a:last-child{
  position: relative;
  transition: .5s;
  opacity: 0;
  pointer-events: none;
}
.sum-text a:last-child.show{
  pointer-events: painted;
  transition: .5s;
  opacity: 1;
}
.sum-text a:first-child.show{
  pointer-events: none;
  transition: .5s;
  opacity: 0;
  
}
/******************* 2.트레일러 영역 *******************/
/******************* 3.캐릭터 영역 *******************/
.menu{
  width: 250px;
}
.menu ul li a{
  color: #fff;
  font-size: 30px;
  line-height: 2;
}
.main-cont{
  position: relative;
}
.ab-box{
  position: absolute;
  left: 0;
  /* top: 50%; */
  display: flex;
  /* transform: translateY(-30%); */
  display: none;
}
.ab-box.show{
  display: flex;
}
.ab-box:first-child.show{
  display: flex;
}
.main-box{
  color: #fff;
  width: 800px;
  height: 100%;
}
.main-box p{
}
.main-box img{
  display: block;
  max-height: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.main-box{
  margin-left: 30px;
}
.main-img{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.main-img a{
 aspect-ratio: 100/100;
 width: 200px;
}
.main-img a img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.char0 a{
  width: 100%;  
  grid-column: 2/3;
}

/******************* 4.월드 영역 *******************/
/******************* 5.어워즈 영역 *******************/
/******************* 6.크레딧 영역 *******************/
/******************* 7.하단 영역 *******************/


.content-box{
  height: 100%;
  margin: 0 auto;
  overflow: auto;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  background-color: #00000073;
  text-align: center;
}
.credits-text p,.awards-text p{
  margin: 25px 0;
  line-height: 1.5;
}
.credits-text p:last-child,.awards-text p:last-child{
  padding-bottom: 150px;
}

.footer-area{
  height: 100vh;
  position: relative;
}


