#checkout-detail{
    width: clamp(70vw, 80vw, 90vw);
    margin: 0 auto;
    h1 {
      padding-top: 15vh;
      padding-bottom: 5vh;
      font-size: clamp(36px, 5vw, 72px);
      text-align: center;
    }
    .check-out-box{
        width: 80%;
        margin: 0 auto;
        input{
            padding: 10px;
            display: block;
            background-color: #f8f8f8;
            border: none;
            border-bottom: 2px solid #e6e6e6;
            font-size: 12px;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 24px;
            &:hover{
              border-bottom: 2px solid #636363;
            }
            &:focus{
              border-bottom: 2px solid blue;
            }
            &.on{
              
            }
          }
    }
}