#checkout-detail{
    width: clamp(70vw, 80vw, 90vw);
    margin: 0 auto;
    h1 {
      padding-top: 15vh;
      padding-bottom: 5vh;
      font-size: clamp(36px, 5vw, 72px);
      text-align: center;
    }
    .check-out-box{
        width: 80%;
        margin: 0 auto;
        input{
            padding: 10px;
            display: block;
            background-color: #f8f8f8;
            border: none;
            border-bottom: 2px solid #e6e6e6;
            font-size: 12px;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 24px;
            &:hover{
              border-bottom: 2px solid #636363;
            }
            &:focus{
              border-bottom: 2px solid blue;
            }
            &.on{
              
            }
          }
          .buy-botton {
            margin: 5vh auto ;
            display: flex;  
            // flex-direction: column;
            width: 60%;
            gap: 20px;
            .add-cart {
              border: 1px solid transparent;
              cursor: pointer;
              transition: 0.5s;
              justify-content: center;
              align-items: center;
              display: flex;
              width: 100%;
              padding: clamp(10px, 1vw, 15px);
              font-size: clamp(12px,1.5vw,24px);
              // font-weight: bold;
              background-color: #131317;
              color: #fff;
              &:hover {
                background-color: #3e474a;
                box-shadow: 0 3.2px 7.2px rgba(0, 0, 0, 0.132),
                  0 0.6px 1.8px rgba(0, 0, 0, 0.108);
              }
            }
          }
    }
}