// 하단영역 css
.footer-area {
  background-color: #000;
  /////////////////////////////////////////////////////////////////////
  .info {
    width: 80%;
    margin: 0 auto;
    white-space: nowrap;
    /////////////////////////////////////////////////////////////////////
    a {
      color: #fff;
      &:hover{
        color: #486e8a;
      }
    }
    padding: 30px;
    color: #fff;
    .from-container {
      margin: 0 auto;
      display: flex;
      gap: 1vw;
      .send-email-tit {
        width: 50%;
        display: flex;
        align-items: center;
        span {
          white-space: wrap;
          font-size: clamp(16px, 1.2vw, 20px);
          font-weight: bold;
        }
      }
      .input-holder {
        display: flex;
        box-sizing: border-box;
        gap: 3px;
        .input-send {
          width: clamp(300px, 30vw, 600px);
          //////////////////////
          margin-left: 5%;
          font-family: "Ubuntu Condensed", sans-serif;
          padding: 10px;
          text-align: center;
          background-color: #f8f8f8;
          border: none;
          border-bottom: 2px solid #e6e6e6;
          font-size: clamp(12px,2vw,20px);
          &:hover{
            border-bottom: 2px solid #636363;
          }
          &:focus{
            border-bottom: 2px solid blue;
          }
        }
        .btn-secondary {
          width: clamp(105px, 5vw, 120px);
          height: 50px;
          position: relative;
          padding: 10px;
          .btn-text {
            font-size: 24px;
          }
        }
      }
    }

    /////////////////////////////////////////////////////////////////////
    .footer-md {
      line-height: 1.7;
      margin-top: 50px;
      display: flex;
      .about-link1 {
        display: flex;
        gap: 60px;
        .link-tit{
          font-size: 16px;
          font-weight: bold;
        }
        &>li{
          display: flex;
          flex-direction: column;
          gap: 5px;
          ol{
            display: flex;
            flex-direction: column;
            gap: 5px;
            li{
              // font-size: 12px;
            }
          }
        }
      }
      .footer-app {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-left: clamp(10px, 15vw, 150px);
        li{
          display: flex;
          align-items: center;
          gap: 15px;
          a{
            display: flex;
            gap: 15px;
            img{
              border: 1px solid #ccc;
              border-radius: 6px;
            }
            &:hover{
              img{
                border: 1px solid #486e8a;
              }
            }
          }
        }
      }
    }
    /////////////////////////////////////////////////////////////////////

    .sns-link-box {
      border-bottom: 1px solid #cccccc5c;
      padding-bottom: 20px;
      margin-top: 50px;
      display: flex;
      justify-content: flex-start;
      // justify-content: space-evenly;
      .sns-link{
        display: flex;
        gap: 30px;
        flex-direction: row;
        flex-wrap: nowrap;
        .sns-icon{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 45px;
          aspect-ratio: 1/1;
          a{
            svg{
              width: 30px;
              height: 30px;
              font-weight: normal;
            }
          }
        }
      }
    }

    /////////////////////////////////////////////////////////////////////
    .about-link2 {
      margin-top: 40px;
      padding-bottom: 50px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
    /////////////////////////////////////////////////////////////////////
  }
}

////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1350px) {
  .footer-area {
    .info {
      .from-container {
        // 이메일 설명
        .send-email-tit {
          span {
          }
        }
        .input-holder {
          .input-send {
          }
          .btn-secondary {
            .btn-text {
            }
          }
        }
      }
      .footer-md{
        flex-direction: column;
        .about-link1{
          margin-bottom: 50px;
        }
        .footer-app{
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          margin-left: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .footer-area {
    .info {
      .from-container {
        flex-direction: column;
        // 이메일 설명
        .send-email-tit {
          width: 80%;
          span {
          }
        }
        .input-holder {
          .input-send {
            width: clamp(100px, 50vw, 600px);
          }
          .btn-secondary {
            .btn-text {
            }
          }
        }
      }
      .footer-md{

        .about-link1{
          display: grid;
          grid-template-columns: repeat(2,1fr);
        }
        .footer-app{

        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .footer-area {
    .info {
      .from-container {
        flex-wrap: wrap;
        // 이메일 설명
        .send-email-tit {
          span {
          }
        }
        .input-holder {
          .input-send {
            padding: 5px;
            font-size: 16px;
          }
          .btn-secondary {
            .btn-text {
              font-size: 16px;
            }
          }
        }
      }
      .footer-md{

        .about-link1{
          font-size: 12px;
          .link-tit{
            font-size: 16px;
          }
        }
        .footer-app{

        }
      }
      .sns-link-box {
        justify-content: space-evenly;
        .sns-link{
          .sns-icon{
            a{
              svg{
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .footer-area {
    .info {
      .from-container {
        // 이메일 설명
        .send-email-tit {
          span {
          }
        }
        .input-holder {
          .input-send {
          }
          .btn-secondary {
            .btn-text {
            }
          }
        }
      }
      .footer-md{

        .about-link1{
          display: grid;
          grid-template-columns: repeat(1,1fr);
          .about-about{
            border-bottom: 1px solid #ccc;
            .link-tit-tit{
              display: flex;
              justify-content: space-between;
              border-bottom: 1px solid #ccc;  
              font-size: 24px;
              cursor: pointer;
              .link-tit1{
              }
            }
            ol{
              display: none;
              font-size: 20px;
              line-height: 1.7;
            }
            ol.on{
              display: block;
            }
          }
        }
          .footer-app {
        display: flex;
        flex-direction: column;
        gap: 15px;
        li{
          display: flex;
          align-items: center;
          gap: 15px;
          a{
            img{
              width: 36px;
              height: 36px;
            }
          }
        }
      }
      }
      .sns-link-box {
        justify-content: space-evenly;
        .sns-link{
          gap: 20px;
          .sns-icon{
            width: 40px;
            a{
              svg{
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }
  }
}