// 하단영역 css
.footer-area{
    background-color: #000;
    /////////////////////////////////////////////////////////////////////
.info {
    width: 80%;
    margin: 0 auto;
    white-space: nowrap;
    /////////////////////////////////////////////////////////////////////
  a {
    color: #fff;
  }
  padding: 30px;
  color: #fff;
  .from-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 1vw;
    .send-email-tit {
        width: clamp(200px, 60vw, 600px);
      display: flex;
      align-items: center;
      span {
        white-space: wrap;
        font-size: clamp(20px, 1.5vw, 24px);
        font-weight: bold;
      }
    }
    .input-holder {
        // width: 100%;
      display: flex;
      box-sizing: border-box;
      gap: 3px;
      .input-send {
        width: clamp(300px, 30vw, 600px);
        background: #f8f8f8;
        // color: #131317;
        padding: 12px 12px 12px 16px;
        // color: #495057;
        background-color: #fff;
        border: 1px solid #ced4da;
      }
      .btn-secondary {
        flex: 1;
        width: clamp(105px, 5vw, 120px);
        // max-width: 100%;
        border-radius: 2px;
        height: 50px;
        position: relative;
      }
    }
  }
 
  /////////////////////////////////////////////////////////////////////
  .footer-md {
    line-height: 1.7;
    margin-top: 50px;
    display: flex;
    .about-link1 {
      display: flex;
      gap: 30px;
    }
    .footer-app {
      margin-left: 150px;
    }
  }
  /////////////////////////////////////////////////////////////////////

  .sns-box {
  }

  /////////////////////////////////////////////////////////////////////
  .about-link2 {
    margin-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  /////////////////////////////////////////////////////////////////////
}
}


////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1100px) {
    .from-container {
        flex-wrap: wrap;
    }
}