.main-page-top {
  position: relative;
  width: 100%;
  height: 100%;
  .top-video {
    position: relative;
    .big-wrap-box {
      width: 100%;
      height: 100%;
      overflow: hidden;
      .big-box {
        position: sticky;
        .big-video {
          cursor: pointer;
          width: 105%; // 동영상 사이즈 조정하기
          height: auto;
          object-fit: cover;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    .small-wrap-box {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      .small-box {
        width: 100%;
        position: sticky;
        top: 50%; // 나중에 미디어 쿼리 할때 조절
        left: 50%;
        translate: -50% -50%;
        width: 20%;
        aspect-ratio: 2;
        height: auto;
        overflow: hidden;

        .small-video {
          position: relative;
          top: 50%;
          left: 50%;
          translate: -50% -40%; // 조정하기
          width: 525%; // 조정하기
          height: auto;
          filter: blur(10px);
        }
        .logo-box {
          box-sizing: border-box;
          padding: clamp(5px, 1vw, 20px);
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          width: 100%;

          img {
            width: 100%;
            color: auto;
            filter: invert(1);
            mix-blend-mode: difference;
          }
        }
      }
    }
  }
}
////////////////// 서브타이틀 영역 //////////////////////

// 상단에서 내려옴
@keyframes ani1 {
  to {
    translate: 0 0;
    transform: rotateX(0deg) rotate(0deg);
  }
}
// 원래상태로 돌아옴
@keyframes ani2 {
  to {
    transform: rotateY(0deg);
  }
}
// 원래상태로 돌아옴
@keyframes ani3 {
  to {
    transform: rotateY(20deg);
  }
}

// https://vanholtz.co/
// will-change: transform;

// 3d 부모설정 ****** 중요
// perspective: 30vh; 
// perspective-origin: right;

// 자식설정 : 실제3d적용됨
//   transform-style: preserve-3d; -> z축과 관련
// transform: rotateY(0deg) ; 이걸로 조절해줌

.go-tit-box {
  position: absolute;
  top: 10%;
  translate: 0 -100%;
  right: 3%;
  height: 100%;
  padding: 0 0 10%;
  box-sizing: border-box;


  .go-tit {
    position: sticky;
    top: 0;
    display: flex;
    gap: clamp(15px, 2vw, 30px);
    flex-direction: column;
    .tit-box {
      position: relative;
      &:hover {
        transform: rotateY(0deg);
        .tit1 {
          // filter: invert(1);
          filter: drop-shadow(0 0 10px black) invert(1);
          mix-blend-mode: difference;
        }
        .tit2 {
          opacity: 1;
        }
      }
      .tit1 {
        cursor: pointer;
        text-shadow: 0 0 2px #484848;
        text-align: right;
        font-size: clamp(30px, 4vw, 60px);
        font-weight: bold;
        margin-bottom: clamp(10px, 1.3vw, 18px);
      }
      .tit2 {
        text-shadow: 0 0 2px #282828;
        transition: 0.3s;
        opacity: 0;
        display: flex;
        gap: clamp(20px, 2vw, 40px); // show view 사이간격
        justify-content: flex-end;
        font-weight: bold;
        font-size: clamp(15px, 1.5vw, 30px);
        p {
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            // filter: invert(1);
            filter: drop-shadow(0 0 6px black) invert(1);
            mix-blend-mode: difference;
          }
        }
      }
    }
  }
}

// 3d 설정파트
.go-tit-box {
  // background-color: #000;
    // 상단에서 내려옴
    animation: ani1 1.2s cubic-bezier(0, 0.55, 0.45, 1) 1s forwards;
  // transition: 1s cubic-bezier(0.33, 1, 0.68, 1);
    transform: rotateX(120deg) rotate(60deg);
  // 3d 부모설정
  perspective: 80vh;
  perspective-origin: right;
  ///////////////////////
  .go-tit {
    // 자식설정 /////////////
    transform: rotateY(-10deg); 
     // 3d 부모설정 //////////////
     perspective: 80vh;
     perspective-origin: right;
    .tit-box {
      transition: 0.3s;
       // 3d 부모설정 //////////////
     perspective: 80vh;
     perspective-origin: right;
      // 자식설정 /////////////
      transform: rotateY(-25deg);
      transform-origin: right;
      &:hover {
        transform: rotateY(-5deg);
      }
      @for $i from 1 to 6 {
        // .tit-box 아래 자식들 .tit1 의 애니효과 지연
        &:nth-child(#{6-$i}) .tit1 {
          animation-delay: #{1 + 0.15 * $i}s;
        }
      }
      .tit1 {
        transition: 0.3s;
        margin-bottom: clamp(10px, 1.3vw, 18px);
        animation: ani2 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
        // 자식설정 /////////////
      transform: rotateY(-90deg);
      transform-origin: right;
      }
    }
  }
}
