.main-page-top {
  position: relative;
  .top-video {
    position: relative;
    .big-box {
      position: relative;
      .big-video {
        cursor: pointer;
        width: 100%;
        height: auto;
      }
    }
    .small-box {
      width: 100%;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      width: 20vw;
      aspect-ratio: 2;
      height: auto;

      overflow: hidden;
      .small-video {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 600%;
        height: auto;
      }
    }
  }
}
.small2 {
  position: absolute;
  width: 100%;
  height: 100%;
}
