/* 회원가입 페이지 CSS */

/* 최상위 부모박스 */
.outbx {
  padding:20vh 5px;
  background: url(../../public/images/bg/loginbg.webp) no-repeat center/cover;
}
/* 전체박스 */
.membx {
  background-color: #fff;
  max-width: 700px;
  min-height: 600px;
  padding: 30px 15px;
  margin: 0 auto;
  font-family: "Ubuntu Condensed", sans-serif;
  h2 {
    text-align: center;
    padding: 15px;
    font-size: 30px;
  }
  li {
    position: relative;
    padding: 25px;
   
    .code-box{
      display: flex;
      margin: 10px 0 auto;
      .zipcode{
        width: 40%;
      }
      .zipcode-btn{
        border: 1px solid #3e474a;
      }
    }
    .code-box-zip{
 width: clamp(70%, 20vw, 90%);
 margin: 0 auto;
 input{
  margin: 0;
  margin-right: 20px;
 }
 button{
  background-color: #fff;
 }
    }
  }
  label {
    display: none;
  }
  input {
    margin-left: 5%;
    font-family: "Ubuntu Condensed", sans-serif;
    padding: 10px;
    display: block;
    text-align: center;
    background-color: #f8f8f8;
    border: none;
    border-bottom: 2px solid #e6e6e6;
    font-size: clamp(12px,2vw,20px);
    width: clamp(70%,20vw,90%);
    margin: 0 auto;
    &:hover{
      border-bottom: 2px solid #636363;
    }
    &:focus{
      border-bottom: 2px solid blue;
    }
  }
  .msg {
    position: absolute;
    text-align: center;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    font-size: 14px ;
    padding: 5px 0;
    font-weight: bold;
  }
  .sbtn {
    display: block;
    padding: clamp(5px, 1vw, 10px) clamp(10px, 1vw, 15px);
    background-color: #131317;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: clamp(14px,2vw,24px);
    width: clamp(50%,10vw,70%);
    color: #fff;
    border: 1px solid transparent;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: #3e474a;
      box-shadow: 0 3.2px 7.2px rgba(0, 0, 0, 0.132), 0 0.6px 1.8px rgba(0, 0, 0, 0.108);
    }
  }
  ul {
    li:last-child {
      font-size: clamp(12px,2vw,24px);
      text-align: center;
      a {
        font-weight: bold;
        color: #0d6efd;
        text-decoration: none;
        &:hover {
          color: #fd7e14;
        }
      }
    }
  }
}
