.menu {
  position: fixed;
  display: flex;
  .logo-box {
    display: inline-block;
    background-color: #000;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      box-sizing: border-box;
    }
  }
  .icon-box {
    display: inline-block;
    background-color: #0000005f;
    width: 150px;
    .icon-menu {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;
      color: #fff;
      vertical-align: middle; /* 자식 요소에 수직 정렬 적용 */
      // 아래는 아이콘 적용후 수정
      font-size: 25px;
      font-weight: bold;
      & li {
        display: inline-block; /* 인라인 블록으로 변경 */
        padding: 5px;
        vertical-align: middle; /* 각 li 요소에 수직 정렬 적용 */
      }
    }
  }
}
