// https://easings.net/ko

/* 스크롤 기본 막아놓기 */
body.hidden {
  height: 100vh;
  overflow: hidden;
}

.top-area {
  position: fixed;
  z-index: 9999;
  // 강제로 h0  - 앞화면을 가려버림
  height: 0;
  // height: 100%;
  .icon-menu-box {
    height: 50px;
    position: fixed;
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    .logo-box {
      display: inline-block;
      background-color: #000;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        box-sizing: border-box;
      }
    }
    .icon-box {
      display: flex;
      // background-color: #00000095;
      .icon-menu {
        background-color: #00000095;
        padding: 0 10px;
        display: inline-block;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        gap: 10px;
        color: #fff;
        // 아래는 아이콘 적용후 수정
        font-size: 20px;
        font-weight: bold;
        & li {
          display: inline-block; /* 인라인 블록으로 변경 */
          padding: 5px;
          box-sizing: border-box;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            color: #486e8a;
            a {
              color: #486e8a;
              .gnb-tit {
                // transition: 0.3s;
                width: auto;
                opacity: 1;
              }
            }
          }
          a {
            transition: 0.3s;
            color: #fff;
          }
          display: flex;
          .gnb-tit {
            display: inline-block;
            font-weight: normal;
            width: 0;
            opacity: 0;
          }
        }
      }
    }
    .search {
      background-color: #00000095;
      width: 0;
      height: 100%;
      overflow: hidden;
      transition: width 0.6s 0.1s cubic-bezier(0.22, 1, 0.36, 1);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      &.active {
        width: 400px;
      }
      & input {
        position: relative;
        width: 0%;
        height: 50%;
        opacity: 0;
        transition: width 0.6s 0.1s cubic-bezier(0.22, 1, 0.36, 1) opacity 1s;
        &.active {
          opacity: 1;
          width: 90%;
          // transition: width 0.6s cubic-bezier(0.22, 1, 0.36, 1) opacity 1s;
        }
      }
    }
  }
  .gnb {
    display: inline-block;
    &.active {
      left: 0%;
    }
    transition: left 0.6s 0.1s cubic-bezier(0.22, 1, 0.36, 1);
    position: relative;
    left: -100%;
    width: 100vw;
    height: 105dvh;
    // height: 100%;
    display: flex;
    background-color: #fff;
    .left {
      width: 50%;
      display: flex;
      align-items: center;
      // height: 100%;
      .menu-box {
        font-weight: bold;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 25px;
        // top: 15vh;
        left: 5vw;
        & > li {
          font-size: clamp(24px, 5vw, 48px);
          & a:hover {
            color: #486e8a;
          }
          ol {
            padding-top: 10px;
            padding-bottom: 20px;
            position: relative;
            display: flex;
            flex-direction: column;
            left: 3vw;
            li {
              & a:hover {
                color: #486e8a;
              }
              line-height: 1.7;
              font-size: clamp(16px, 3vw, 36px);
            }
          }
        }
        .sns-link-box {
          padding-bottom: 20px;
          margin-top: 20px;
          display: flex;
          justify-content: flex-start;
          // justify-content: space-evenly;
          .sns-link {
            display: flex;
            gap: 30px;
            flex-direction: row;
            flex-wrap: nowrap;
            .sns-icon {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 45px;
              aspect-ratio: 1/1;
              a {
                svg {
                  width: 30px;
                  height: 30px;
                  font-weight: normal;
                }
              }
            }
          }
        }
      }
    }
    .right {
      position: relative;
      flex: 1;
      img:first-child {
        z-index: 1;
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-sizing: border-box;
      }
    }
  }
}
.logmsg {
  display: flex;
  background-color: #00000095;
  color: #fff;
  align-items: center;
  padding: 10px;
  font-size: clamp(10px, 2vw, 16px);
}
.logmsg2 {
  // margin: 20px 0;
  display: flex;
  // color: #fff;
  align-items: center;
  span {
    border-bottom: 1px solid #00000095;
    // background-color: #00000095;
    padding: 5px;
    font-size: clamp(16px, 2vw, 24px);
  }
  .log:hover {
    // color: blue;
  }
}
@media screen and (max-width: 768px) {
  .top-area {
    .icon-menu-box {
      .logo-box {
        img {
        }
      }
      .icon-box {
        .icon-menu {
          // 아래는 아이콘 적용후 수정

          & li {
            &:hover {
            }
          }
        }
      }
      .search {
        &.active {
          width: 100%;
        }
        & input {
          &.active {
            // transition: width 0.6s cubic-bezier(0.22, 1, 0.36, 1) opacity 1s;
          }
        }
      }
    }
    .gnb {
      &.active {
      }

      .left {
        width: 100%;
        // height: 100%;
        .menu-box {
          // padding-top: 10vh;
          left: 10vw;
          & > li {
            font-size: clamp(36px, 8vw, 48px);

            & a:hover {
            }
            ol {
              padding-top: 10px;
              padding-bottom: 5px;
              li {
                font-size: clamp(24px, 5vw, 36px);
              }
            }
          }
          .sns-link-box {
            margin-top: 0;
          }
        }
      }
      .right {
        display: none;
        img:first-child {
        }
        img {
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .logmsg {
    display: none;
  }
  .logmsg2 {
    margin: 10px 0;
  }
  .top-area {
    .icon-menu-box {
      width: 100%;
      .logo-box {
        img {
        }
      }
      .icon-box {
        width: 100%;
        .icon-menu {
          width: 100%;
          // 아래는 아이콘 적용후 수정

          & li {
            &:hover {
            }
          }
        }
      }
      .search {
        &.active {
        }
        & input {
          &.active {
            // transition: width 0.6s cubic-bezier(0.22, 1, 0.36, 1) opacity 1s;
          }
        }
      }
    }
    .gnb {
      &.active {
      }
      .left {
        .menu-box {
          & > li {
            & a:hover {
            }
            ol {
              li {
              }
            }
          }
          .sns-link-box {
            justify-content: space-evenly;
            .sns-link {
              gap: 20px;
              .sns-icon {
                width: 40px;
                a {
                  svg {
                    width: 20px;
                    height: 20px;
                  }
                }
              }
            }
          }
        }
      }
      .right {
        img:first-child {
        }
        img {
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .top-area {
    .icon-menu-box {
      .logo-box {
        img {
        }
      }
      .icon-box {
        .icon-menu {
          // 아래는 아이콘 적용후 수정

          & li {
            &:hover {
            }
          }
        }
      }
      .search {
        &.active {
        }
        & input {
          &.active {
            // transition: width 0.6s cubic-bezier(0.22, 1, 0.36, 1) opacity 1s;
          }
        }
      }
    }
    .gnb {
      &.active {
      }
      .left {
        .menu-box {
          gap: 15px;
          & > li {
            & a:hover {
            }
            ol {
              li {
              }
            }
          }
          .sns-link-box {
            justify-content: space-evenly;
            .sns-link {
              gap: 20px;
              .sns-icon {
                width: 40px;
                a {
                  svg {
                    width: 20px;
                    height: 20px;
                  }
                }
              }
            }
          }
        }
      }
      .right {
        img:first-child {
        }
        img {
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .top-area {
    .icon-menu-box {
      .logo-box {
        img {
        }
      }
      .icon-box {
        .icon-menu {
          // 아래는 아이콘 적용후 수정
          li:nth-child(2),
          li:nth-child(3) {
            display: none;
          }
          & li {
            &:hover {
            }
          }
        }
      }
      .search {
        &.active {
        }
        & input {
          &.active {
            // transition: width 0.6s cubic-bezier(0.22, 1, 0.36, 1) opacity 1s;
          }
        }
      }
    }
    .gnb {
      &.active {
      }
      .left {
        .menu-box {
          gap: 20px;
          & > li {
            & a:hover {
            }
            ol {
              li {
              }
            }
          }
          .sns-link-box {
            justify-content: space-evenly;
            padding-bottom: 0px;
            // margin-top: 16px;
            .sns-link {
              gap: 20px;
              .sns-icon {
                width: 40px;
                a {
                  svg {
                    width: 20px;
                    height: 20px;
                  }
                }
              }
            }
          }
        }
      }
      .right {
        img:first-child {
        }
        img {
        }
      }
    }
  }
}
