@charset "utf-8";
// @import url(./grid_12_flex.css);
/*예시) 영역별 큰제목 & 작은제목 & 설명글 공통*/
:root{
    --main:50px;
    --sub:30px;
    --text:20px;
}
#foot-back{
    background-color: #ffffffa0;
    position: relative;
    // z-index: 9;
}
.icon2{
    display: none;
}
.main-title{
    font-family: "Lugrasimo", cursive;
    font-weight: bold;
    font-size: 6rem;
}
.sub-text1{
    font-family: "Lugrasimo", cursive;
    font-size: 2.5rem;
    line-height: 1.7;
}
.sub-text2{
    font-family: "Lugrasimo", cursive;
    font-size: 1.8rem;
    line-height: 1.7;
}

/* 상단 영역바 CSS */

#top-area {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    /* 필요한경우 각자페이지에서 아래 세줄을 주시오*/
    position: fixed; 
    z-index: 999999;
    /* background-color: #fff; */
    gap: 0 5px;
    transition: .3s;
    &:hover{
        background-color: #ffffff62;
    }
  }
.top-menu{
    top: 20px;
    left: 20px;
}
.top-menu li {
    font-family: "Lobster", sans-serif;
    font-size: 20px;
    font-style: normal;
}
.toy02{
    top: 0;
    left: 135px;
}

.toy02 a{
    color: #7e7d7d;
}
.logobx-area{
    /* top: 10px;
    right: 20px; */
    /* 부모박스 자식박스 합쳐서 무의미함 */
}
.page-bx{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#GNB{
    top: -100px;
    position: relative;
    margin-right: 50px;
    transition: .3s;
    display: flex;
    height: 100%;
}
#GNB ul{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    height: 100%;
    li{
        // height: 100%;
    }
}
#GNB ul li:hover a{
    color: #ffe861;
}
#top-area:hover #GNB{
    top: 0;
}
#GNB ul li a{
    font-weight: bold;
    font-family: "Lugrasimo", cursive;
    font-size: 20px;
    transition: .3s;
}
.mlogo{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    padding-right: 15px;
}
.mlogo img{
    /* 필요한경우 각자페이지에서 주시오 */
    /* background-color: #ffffff7a; */
    padding: 10px 15px 5px;
    width: 100%;
    min-width: 150px;
    max-width: 300px;
    box-sizing: border-box;
}

// 로그인 회원가입 버튼
.member{
    top: -100px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: clamp(10px,2vw,30px);
    transition: .3s;
    padding-right: clamp(1px,2vw,60px);
    // margin-left: auto;
}
.member li{
    list-style-type: none;
    font-family: "Lugrasimo", cursive;
    font-weight: bold;
    font-size: clamp(10px,1.5vw,20px);
}
#top-area:hover .member{
    top: 0;
}
.member li:hover a{
    color: #ffe861;
}

/* 하단 영역 CSS */

.footer-bx{
    margin-top: 80px;
    bottom: 10px;
    text-align: center;
}
.sns-part ul{
    display: flex;
    flex-wrap: nowrap;
    gap: 0 15px;
    justify-content: center
}
.sns-part a{
    font-size: 25px;
    line-height: 2.5;
}
.fcont-part{
    font-size: 15px;
    line-height: 1.5;
    white-space: nowrap;
}

.corp-part{
    font-family: "Lugrasimo", cursive;
    font-style: normal;
    font-size: 20px;
    line-height: 2.8;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    /* 예시 입니다. */
    #GNB{
        top: 0;
        margin-right: 10px;
    }
    #GNB ul li a {
        font-size: 15px;
    }
    .main-title{
        font-size: 4rem;
     }
     .sub-text1{
        font-size: 2rem;
    }
    .sub-text2{
        font-size: 1.4rem;
    }
    #GNB ul {
        gap: 20px;
    }
}
@media screen and (max-width: 700px) {
    #GNB ul {
        gap: 10px;
    }
    .icon1{
        display: none;
        // 이건 생각좀 해봐야함
    }
    .icon2{
        display: inline-block;
        width: clamp(30px,8vw,70px);
        aspect-ratio: 1/1;

    }
    .icon2 img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .mlogo img {
        padding: 10px 10px 5px;
        width: 100%;
        min-width: 150px;
        max-width: 300px;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 400px) {
    /* 예시 입니다. */
    .main-title{
        font-size: 3rem;
     }
     .sub-text1{
        font-size: 1.5rem;
    }
    .sub-text2{
        font-size: 1.1rem;
    }
}
