body{
    // background-color: #000;
}

.alpha{
    // position: fixed;
    // z-index: 100000;
    // width: 100vw;
    // height: 100vh;
    // mask-image: url('../../../public/images/logo/svg_logo2.svg');
    // mask-size: 100%;
    // mask-repeat: no-repeat;
    // background-color: #000;
    // filter: invert(1);
    // mix-blend-mode: difference;
    // color: #000;
}

//   .target {
//     display: flex;
//     width: 100vw;
//     height: 100vh;
//     display: block;
//     margin: 0 auto;
//   }
    
  .alpha-target {
    position: fixed;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    // mask-image: url('./aaa.svg');
    // mask-size: 100%;
    // mask-repeat: no-repeat;
    /* -webkit-mask-image: url('./img/svg_logo2.svg'); */
    /* -webkit-mask-mode: alpha; */
    /* -webkit-mask-size: 40%; */
    /* -webkit-mask-repeat: no-repeat; */
  }