@charset "utf-8";

/* 도깨비 PJ : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */
/****************** 1.로고페이지 ********************* */
/* 1.첫페이지 로고 시작 영역 */

/************ 상단영역 ************/
/* 1. 상단영역 */
.btnMenu::after {
  content: "MENU";
  margin-top: 7px;
  font-size: 15px;
}
/*** 상단 왼쪽 메뉴아이콘 ***/
.icon-menu1 {
  min-width: 80px;
  padding: 10px 0;
}
.icon-menu1 ul {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.icon-menu1 ul li {
  padding: 5px;
  white-space: nowrap;
}
.icon-menu1 ul li a {
  display: flex;
  color: #444;
}
.icon-menu1 ul li a:hover {
  color: red;
}
/*** 상단 메인로고 ***/
.logo-top-box img {
  margin-top: 20px;
  height: 35px;
}
.logo-top-box {
  text-align: center;
}
/*** 상단 오른쪽 아이콘메뉴 ***/
.icon-menu2 {
  padding: 10px 0;
}
.icon-menu2 ul {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.icon-menu2 ul li {
  padding: 5px 10px;
}
.icon-menu2 ul li a {
  color: #444;
}
.icon-menu2 ul li a:hover {
  color: red;
}

/******************************************************** 메인영역 ********************************************************/
/* 2. 배너영역 */

/* 이벤트배너 비디오 */
.eve-video {
  position: relative;
  height: calc(100vh - 74px);
}
/* 이벤트배너 박스 */
.eve-ban {
}
/* 이벤트배너 이미지 */
.eve-ban {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  opacity: 0;
  transition: 0.5s;
  box-sizing: border-box;
}
.eve-ban a {
  /* display: block; */

  left: 100px;
}
.eve-ban img {
  width: 100%;
  object-fit: cover;
}

/* 동영상 클릭시  */
.eve-ban.on {
  filter: brightness(80%);
  opacity: 1;
}
.eve-ban.on .eve-video.on {
  filter: brightness(0%);
} /*********** 안먹힘 ***********/
.eve-video.on{
  filter: brightness(0%);
}

#ban-area:hover .eve-video {
  filter: brightness(40%);
}


/* 이벤트배너 동영상 흐림 60% */
.eve-ban::before {
  /* content: "";
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  top: 0;
  left: 0;
  display: none; */
  /* overflow: hidden; */
}
/* 이벤트배너 이미지 흐림 20% */
.eve-ban::after {
  /* content: "";
  position: absolute;
  margin: 0 auto;
  width: 1600px;
  height: 738px;
  background-color: #000000;
  opacity: 0.2;
  top: 70px;
  left: 151px;
  display: none; */
}
/*________ 영상 오버시 배너나옴 : 삭제예정 나중에 클릭으로 바꿈 ________*/
/* 배너 이미지 */
#ban-area:hover .eve-ban a img {
  display: inline;
  /* animation:show-eve-ban .5s ; */
}
/* @keyframes show-eve-ban{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
} */

/* 배너 동영상 흐림 on */
#ban-area:hover .eve-ban::before {
  display: inline;
  animation: show-eve-ban2 0.5s;
}
/* 배너 이미지 흐림 on */
#ban-area:hover .eve-ban::after {
  display: inline;
  animation: show-eve-ban2 0.5s;
}
/* @keyframes show-eve-ban2{
  to{
    
  }
} */
/*________ 영상 오버시 배너나옴 : 삭제예정 나중에 클릭으로 바꿈 ________*/

.main-eve a video {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

/* *********3.콜렉션영역********** */

.coll-box {
  height: 100%;
}
.non {
  height: 10rem;
}
.coll-text {
  margin: 0 auto 10rem;
  text-align: center;
  width: 900px;
  height: 260px;
}
.coll-text p:first-child {
  font-size: 2rem;
  line-height: 24px;
  margin-bottom: 16px;
}
.coll-text h3 {
  font-size: 4.8rem;
  line-height: 56px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* .text-block p:nth-child(2)
는 다른태그와 섞여있을때 작동을 안함
이 경우 type 을 쓴다 */
.coll-text p:nth-of-type(2) {
  font-size: 1.6rem;
  line-height: 28px;
}
.line {
  padding: 0;
  margin: 3rem 0;
}
.line img {
  height: 1.2rem;
}
.coll-list {
  height: 900px;
  padding: 0 5rem;
  background-color: #ffffff;
}
.coll-list ul {
  display: flex;
}
.coll-list ul li a img:nth-child(1) {
  height: 50rem;
}
.coll-list ul li a span {
  display: block;
  height: 100px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 3;
  background-color: #ccc;
}
.coll-list ul {
  gap: 2rem;
}


/* 파트너쉽영역 */



/* 4-1-1 파틑너쉽 제목 */
.partner-h1{
  position: sticky;
  top: -1000px;
  left: calc(50% - 1600px/2);
  height: 100%;
  overflow: hidden;
  padding: 1rem 0;
  background-color: #0000007e;
  
}
.partner-h1 p{
  color: #fff;
  line-height: 1.5;
  text-align: center;
  /* white-space: nowrap; */
}
.partner-h1 p:nth-child(1){
font-size: 3rem;
margin-bottom: 2rem;
}
.partner-h1 p:nth-child(2){
font-size: 7rem;
font-weight: bold;
margin-bottom: 2rem;
}
.partner-h1 p:nth-child(3){
font-size: 3rem;
margin-bottom: 10rem;
}
.partner-h1 p:nth-child(4){
font-size: 2.5rem;
margin-bottom: 4rem;
}
.partner-h1 p:nth-child(5){
font-size: 2.5rem;
margin-bottom: 4rem;
}
.partner-h1 p:nth-child(6){
font-size: 2.5rem;
}

.materials-h1{
  width: 100%;
}
.materials-h1 p{
  color: #fff;
  line-height: 1.5;
  text-align: center;
}
.materials-h1 p:nth-child(1){
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 5rem;
}
.materials-h1 p:nth-child(2){
  font-size: 2.5rem;
  margin-bottom: 5rem;
}
.materials-h1 p:nth-child(3){
  font-size: 2.5rem;
}
.mat{
  width: 50rem;
  left: calc(50% - 50rem/2);
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}
.mat img:hover{
  transform: scale(1.3);
  transition: .5s ease-in-out;
}

.mat img{
  height: 65rem;
  transition: .5s ease-in-out;
}
.mat-box{
  padding: 0 3rem;
}
.mat-text{
  margin: 40rem 0 3rem;
  text-align: center;
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
}
.partner-mv{
  position: relative;
  /* text-align: center; */
  cursor: pointer;
}
.partner-mv-video{
  position: absolute;
  width: 1280px;
  height: 720px;
  top: 0;
  left: calc(50% - 1250px/2);
}
.partner-mv-video video{
  width: 100%;
  height: 100%;
}
.partner-mv img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.partner-mv button{
  position: absolute;
  width: 80px;
  height: 80px;
  top: calc(50% - 80px/2);
  left: calc(50% - 80px/2);
  font-size: 5rem;
  font-weight: bold;
  border-radius: 50% 20% 50% 50%;
}

/******************************* 하단영역 *******************************/
