@charset "utf-8";

/* 도깨비 PJ : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */
/****************** 1.로고페이지 ********************* */
/* 1.첫페이지 로고 시작 영역 */

/************ 상단영역 ************/
/* 1. 상단영역 */
.btnMenu::after {
  content: "MENU";
  margin-top: 7px;
  font-size: 15px;
}

/*** 상단 왼쪽 메뉴아이콘 ***/
.icon-menu1 {
  padding: 10px 0;
}

.icon-menu1 ul {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.icon-menu1 ul li {
  padding: 5px;
  white-space: nowrap;
}

.icon-menu1 ul li a {
  display: flex;
  color: #444;
}

.icon-menu1 ul li a:hover {
  color: red;
}

/*** 상단 메인로고 ***/
.logo-top-box img {
  margin-top: 20px;
  height: 35px;
}

.logo-top-box {
  text-align: center;
}

/*** 상단 오른쪽 아이콘메뉴 ***/
.icon-menu2 {
  padding: 10px 0;
}

.icon-menu2 ul {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.icon-menu2 ul li {
  padding: 5px 10px;
}

.icon-menu2 ul li a {
  color: #444;
}

.icon-menu2 ul li a:hover {
  color: red;
}

/******************************************************** 메인영역 ********************************************************/
/* 2. 배너영역 */

/* 이벤트배너 비디오 */
.ban-video {
  position: relative;
  height: calc(100vh - 74px);
}

/******* 이벤트배너 박스 *******/
/* 이벤트배너 이미지 */
.baner {
  position: absolute;
  top: 7%;
  left: calc(50% - 160rem/2);
  width: 160rem;
  opacity: 0;
  transition: 0.5s ease-in-out;
  box-sizing: border-box;
}

.baner img {
  width: 100%;
  object-fit: cover;
}

/* 베너 위 텍스트 */
.ban-text {
  position: absolute;
  bottom: 15rem;
  width: 27%;
  left: 5rem;
  color: #fff;
  font-weight: bold;
}

.ban-text p:nth-child(1) {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.ban-text p:nth-child(2) {
  font-size: 3rem;
}

/* 배너위 버튼 */
.ban-btn {
  position: absolute;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  bottom: 8rem;
  left: 5rem;
  border: 3px solid #fff;
  border-radius: 26.5px 10px 26.5px 26.5px;
  padding: 1.5rem 2.5rem;
  color: #fff;
  text-align: center;
  transition: .2s;
}

.ban-btn:hover {
  background-color: #fff;
  color: #000;
  transition: .2s;

}

/* 동영상 클릭시  */
.baner.on {
  filter: brightness(90%);
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.ban-video.on{
  filter: brightness(30%);
  transition: 0.5s ease-in-out;
}

.ban-box a video {
  width: 100%;
  object-fit: cover;
}

/* *********3.콜렉션영역********** */

.coll-box {
  height: 100%;
}

/* 상단영역 빈박스 - 추후 영역조정하여 삭제 */
.non {
  height: 10rem;
}

/****** 제목및 설명 ******/
.coll-text {
  margin: 0 auto 10rem;
  text-align: center;
  width: 900px;
  height: 260px;
}

.coll-text p:first-child {
  font-size: 2rem;
  line-height: 24px;
  margin-bottom: 16px;
}

.coll-text h3 {
  font-size: 4.8rem;
  line-height: 56px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* .text-block p:nth-child(2)
는 다른태그와 섞여있을때 작동을 안함
이 경우 type 을 쓴다 */
.coll-text p:nth-of-type(2) {
  font-size: 1.6rem;
  line-height: 28px;
}

/* 제품설명 중간의 영역구분선 */
.line {
  padding: 0;
  margin: 3rem 0;
}

.line img {
  height: 1.2rem;
}

/****** 제품 리스트 ******/
.coll-list {
  position: relative;
  padding: 0 2rem 0;
  background-color: #ffffff;
}

.coll-list ul {
  overflow: hidden;
  width: 100%;
  display: flex;
  gap: 2rem;
}

.coll-list ul li a img:nth-child(1) {
  height: 50rem;
}

.coll-list ul li a span {
  display: block;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  line-height:1.5 ;
  background-color: #ccc;
}
.coll-img{
  position: relative;
}
.coll-img:nth-child(2){
  position: absolute;
  top: 0;
  
}




/*이동버튼*/
.abtn {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  /*Y축 중앙이동*/
}
/*왼쪽버튼*/
.ab1 {
  left: 50px;
}

/*오른쪽버튼*/
.ab2 {
  right: 50px;
}

/*************** 4.파트너쉽영역 ***************4./
/* 4-1-1 파틑너쉽 제목 */
.partner-h1 {
  position: sticky;
  top: -1000px;
  left: calc(50% - 1600px/2);
  height: 100%;
  overflow: hidden;
  padding: 1rem 10rem;
  background-color: #0000007e;

}

.partner-h1 p {
  color: #fff;
  line-height: 1.5;
  text-align: center;
}

.partner-h1 p:nth-child(1) {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.partner-h1 p:nth-child(2) {
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.partner-h1 p:nth-child(3) {
  font-size: 3rem;
  margin-bottom: 10rem;
}

.partner-h1 p:nth-child(3)~p {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.partner-h1 p:nth-child(6) {
  margin-bottom: 0;
}

.materials-h1 {
  padding: 3%;
  background-color: #000000b0;
}

.materials-h1 p {
  color: #fff;
  line-height: 1.5;
  text-align: center;
  overflow: auto; 
  text-align: justify;
}

.materials-h1 p:nth-child(1) {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 5rem;
}

.materials-h1 p:nth-child(2) {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.materials-h1 p:nth-child(3) {
  font-size: 2rem;
}

.mat-box {
  height: 100%;
  padding: 5%;
}



.mat {
  margin-top: 40%;
  position: relative;
  width: 80%;
  height: 100%;
  /* left: calc(50% - 80%/2); */
  left: 50%;
  transform: translateX(-50%);
}
.mat-name {
  margin-bottom: 3rem;
  text-align: center;
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
}
.mat-sh {
  position: relative;
  box-shadow: 3px 3px 10px 3px #000;
  overflow: hidden;
}
/* 오버시 이미지 커짐 */
.mat:hover img {
  filter: brightness(40%);
  transform: scale(1.3);
  transition: .5s ease-in-out;
}
.mat:hover .mat-info {
  opacity: 1;
  transition: .5s .3s;
}
.mat img {
  width: 100%;
  height: 100%;
  transition: .5s ease-in-out ;
}

.mat-info {
  position: absolute;
  opacity: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  line-height: 2;
  color: #fff;
  padding: 20px;
  transition: .5s;
  box-sizing: border-box;
  text-align: justify;
}



/***** 4-3파트너쉽 동영상영역 *****/
.partner-mv-box {
  position: relative;
  cursor: pointer;
}

.partner-mv {
  position: absolute;
  width: 1280px;
  height: 720px;
  top: 0;
  left: calc(50% - 1280px/2);
}

.partner-mv video {
  width: 100%;
  height: 100%;
}

.partner-mv img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.partner-mv button {
  position: absolute;
  width: 80px;
  height: 80px;
  top: calc(50% - 80px/2);
  left: calc(50% - 80px/2);
  font-size: 5rem;
  font-weight: bold;
  border-radius: 50% 10% 50% 50%;
}

.partner-mv button svg {
  width: 32px;
  height: 32px;
  scale: 1.5;
}

.partner-mv button:hover {
  background-color: red;
  color: #fff;
}

/* 아래코드 삭제예정
JS : 버튼클릭시 커버이미지 제거+동영상 재생 */
.partner-mv button:hover .partner-mv img {
  /* display: none; */
}
.ptmv-img.on{
  display: none;
}
.ptmv-btn.on{
  display: none;
}



/******************************* 하단영역 *******************************/