@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋,코아,커먼 공통CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
/* 그리드 12 불러오기 */
@import url(./grid_12_flex.css);

/* 공사중 표시 */
body *{
    outline: 2px dashed #ccc;
}
/* 메인로고영역 */
.mainlogo-area{
    height: 100vw;

}
/* 1. 상단영역 */
.top-area{
    height: 75px;
}
/* 2. 배너영역 */
.ban-area{
    height: 900px;
}
/* 서브파트메뉴 */
.collections{
    height: 1400px;
}
/* 3. 인트로영역 */
.intro-area{
    height: 900px;
}
/* 4. 미리보기영역 */
.preview-area{
    height: 900px;
}
/* 5. 현장포토영역 */
.real-photo-area{
    height: 2400px;
}
/* 6. 대표이미지 영역 */
.main-photo-area{
    height: 1055px;
}
/* 7. 최신동영상영역 */
.clip-video-area{
    height: 800px;
}
/* 8. 하단영역 */
.footer-area{
    height: 800px;
}



.main-eve{
    /* overflow: hidden; */
}

.main-eve a{
    position: absolute;
    background-image: url(../../);
}
