@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋,코아,커먼 공통CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
/* 그리드 12 불러오기 */
@import url(./grid_12_flex.css);

/* 공사중 표시 */
body *{
    outline: 2px dashed #ccc;
}
/* 메인로고영역 */
.mainlogo-area{
    height: 100vw;

}
/* 1.첫페이지 로고 시작 영역 */
/* .mainlogo-area{} */
/* #mainlogo-area{} */

/* 2. 상단영역 */
#top-area {
    position: sticky;
    z-index: 100;
    top: 0;
    height: 75px;
    background-color: #ffffff;
    width: 100%;
  }
  .top-area{
    height: 100%;
  }

/* 3. 배너영역 */
#ban-area {
    position: sticky;
    height: 900px;
    width: 100%;
    background-color: #000;
    top: 75px;
  }
  .ban-area{
    height: 100%;
  }


/* *********4.COLLECTIONS********** */
#collections-area{
    position: sticky;
    top: -250px;
    /* height: 1360px; */
    /* margin-top: 900px; */
    width: 100%;
    background-color: #fff;
    overflow: hidden;
  }
  .collections-area{
    height: 100%;
  }
/* 5.최신스토리 영역 */
#story-area{
    position: sticky;
    background-color: #000;
    height: 900px;
    width: 100%;
}
.story-area{
    height: 100%;
}
/* 6.소개동영상 영역 */
#intromv-area{
    position: sticky;
    background-color: #000;
    height: 900px;
}
.intromv-area{
    height: 100%;
}
/* 7.경험해보세요 영역 */
#experience-area{
    position: sticky;
    background-color: #36ffa5;
    height: 2400px;
}
.experience-area{
    height: 100%;
}
/* 8. 대표이미지 영역 */
#main-photo-area{
    position: sticky;
    background-color: #ffaf36;
    height: 1055px;
}
.main-photo-area{
    height: 100%;
}
/* 9. 기타스토리영역 */
#other-story-area{
    position: sticky;
    background-color: #ff723a;
    height: 800px;
}
.other-story-area{
    height: 100%;
}
/* 10. 하단영역 */
#footer-area{
    position: sticky;
    background-color: #ffaf36;
    height: 800px;
}
.footer-area{
    height: 100%;
}
