@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋,코아,커먼 공통CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
/* 그리드 12 불러오기 */
@import url(./grid_12_flex.css);

body{
    padding-top: 74px;
    margin: 0;
    background-color: #222;
}

/* 공사중 표시 */
body *{
    outline: 2px dashed #ccc;
}
/* 메인로고영역 */
.mainlogo-area{
    height: 100vw;

}
/* 1.첫페이지 로고 시작 영역 */
/* .mainlogo-area{} */
/* #mainlogo-area{} */

/* 1. 상단영역 */
#top-area {
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: #ffffff;
    width: 100%;
}
.top-area{
    height: 74px;
  }

/* 2. 배너영역 */
#ban-area {
    position: sticky;
    background-color: #000;
    top: 74px;
}
.ban-area{
    height: 900px;
  }


/* *********3.콜렉션영역********** */
#collections-area{
    position: sticky;
    top: -250px;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
}
.collections-area{
    width: 100%;
    height: 1400px;
  }
/* 4-1.파트너쉽 이미지 영역 */
#partnerships-area{
    position: sticky;
    top: -20rem;
    background: url(../../01.자료수집/main_img/Horizn.png)no-repeat center/cover;
}
.partnerships-area{
    
    height: 1500px;
}

/* 4-2.파트너쉽설명 영역 */
#partnerships2-area{
    position: sticky;
    /* top: -600%; */
    margin-top: 500px;
}
.partnerships2-area{
}

/* 4-3 .파트너쉽동영상 영역 */
#partnerships3-area{
    position: sticky;
    top: 15rem;
    margin: 30rem 0;
}
.partnerships3-area{
    height: 1200px;
}
/* 5.최신스토리 영역 */
#story-area{
    position: sticky;
    background-color: #000;
}
.story-area{
    height: 900px;
}
/* 6.소개동영상 영역 */
#intromv-area{
    position: sticky;
    background-color: #000;
}
.intromv-area{
    height: 900px;
}
/* 7.경험해보세요 영역 */
#experience-area{
    position: sticky;
    background-color: #36ffa5;
}
.experience-area{
    height: 2400px;
}

/* 9. 기타스토리영역 */
#other-story-area{
    position: sticky;
    background-color: #ff723a;
}
.other-story-area{
    height: 800px;
}
/* 10. 하단영역 */
#footer-area{
    position: sticky;
    background-color: #ffaf36;
}
.footer-area{
    height: 800px;
}



