@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋,코아,커먼 공통CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
/* 그리드 12 불러오기 */
@import url(./grid_12_flex.css);

/* 공사중 표시 */
body *{
    outline: 2px dashed #ccc;
}
/* 메인로고영역 */
.mainlogo-area{
    height: 100vw;

}
/* 1.첫페이지 로고 시작 영역 */
/* .mainlogo-area{} */
/* #mainlogo-area{} */

/* 2. 상단영역 */
.top-area{
    height: 75px;
}
/* 3. 배너영역 */
.ban-area{
    height: 900px;
}
/* 4.제품리스트 영역 */
.collections{
    height: 1400px;
}
/* 5.최신스토리 영역 */
.intro-area{
    height: 900px;
}
#intro-area{
    height: 900px;
    background-color: #c3ff36;
    position: relative;
    z-index: 99;
}
/* 6.소개동영상 영역 */
.preview-area{
    height: 900px;
}
#preview-area{
    background-color: #ffaf36;
    position: relative;
    z-index: 99;
}
/* 7.경험해보세요 영역 */
.real-photo-area{
    height: 2400px;
}
#real-photo-area{
    background-color: #36ffa5;
    position: relative;
    z-index: 99;
}
/* 8. 대표이미지 영역 */
.main-photo-area{
    height: 1055px;
}
#main-photo-area{
    background-color: #ffaf36;
    position: relative;
    z-index: 99;
}
/* 9. 기타스토리영역 */
.clip-video-area{
    height: 800px;
}
#clip-video-area{
    background-color: #36ffa5;
    position: relative;
    z-index: 99;
}
/* 10. 하단영역 */
.footer-area{
    height: 800px;
}
#footer-area{
    background-color: #ffaf36;
    position: relative;
    z-index: 99;
}
