@charset "utf-8";
@media screen and (max-width: 10000px) {
  .gnb .menu-left{
    width: 50%;
    padding: 100px 50px 0px;
  }
}
@media screen and (max-width: 1700px) {
  
  .mat-grid:nth-child(2n-1) {
    grid-column: 2/7;
  }
  
  .mat-grid:nth-child(2n) {
    grid-column: 7/12;
  }
}
@media screen and (max-width: 1450px) {
  .main-text{
    font-size: 18px;
    margin: 4rem 0;
    line-height: 1.7;
}
.partner-mv {
  grid-column: 2 / 12;
}
.intro-mv-box {
  grid-column: 2 / 12;
}
}

@media screen and (max-width: 1200px) {
 
}

@media screen and (max-width: 1000px) {
  .gnb .menu-left{
    width: 100%;
  }
  .gnb .menu-right{
    display: none;
  }
  .ban-area2 {
    display: inline;
  }
  .ban-area {
    display: none;
  }
  .partner-mv {
    grid-column: 1 / 13;
  }
  .intro-mv-box {
    grid-column: 1 / 13;
  }
   .sub-tit{
    font-size: 15px;
    white-space: wrap;
}
  .main-tit{
    font-size: 30px;
    margin: 15px auto;
    white-space: wrap;
}
.main-text{
    font-size: 15px;
    margin: 3rem 0;
    line-height: 1.7;
}
.main-text2{
  font-size: 13px;
  margin: 0;
    line-height: 2;
}
.f-bottom {
  gap: 30px;
  /* flex-wrap: wrap; */
  flex-direction: column;
}
.sns-box{
  grid-column: 1/3;
}
.fgcon1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.fgcon1 img:nth-child(1){
  display: none;
}
.fgcon1 img:nth-child(2){
  display: block;
  height: 48px;
  margin: 30px auto;
}
.f-top-flex{
  flex-direction: column;
  gap: 20px;
}
  }

@media screen and (max-width: 768px) {
  .gnb .menu-left{
    padding: 120px 30px 0px;
  }
    .sub-tit{
        font-size: 15px;
        white-space: wrap;
    }
    .main-tit{
        font-size: 25px;
        margin: 15px auto;
        white-space: wrap;
    }
    .main-text{
        font-size: 15px;
        margin: 4rem 0;
        line-height: 1.7;
    }
    .main-text2{
      font-size: 17px;
        line-height: 1.8;
    }
    .mat-grid:nth-child(n){
      grid-column:1/13;
      top: 0;
    }
    .mat-box {
      row-gap: 5rem;
    }
    .partner-h1 {
      padding: 0 5%;
    }
    .f-bottom span{
      white-space: wrap;
    }
  }
